@-webkit-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
#main-window {
  margin-bottom: 75px;
}
.main-window {
  border: 1px solid #ddd;
  padding: 40px;
  -webkit-box-shadow: #a2a2a2 0px 3px 4px;
  box-shadow: #a2a2a2 0px 3px 4px;
  border-top: none;
  background-color: #fff;
  /*height: 400px;*/
  /*width: 700px;*/
  margin: auto;
  margin-top: 80px;
}
.main-window input {
  width: 100%;
  /*min-width: 600px;*/
}
.main-window input::-webkit-input-placeholder {
  text-align: center;
}
.main-window input::-moz-placeholder {
  text-align: center;
}
.main-window input:-ms-input-placeholder {
  text-align: center;
}
.main-window input::-ms-input-placeholder {
  text-align: center;
}
.main-window input::placeholder {
  text-align: center;
}
.input-pin {
  width: 100%;
  /*
    width: 1024px;
    height: 1024px;
*/
}
@media (max-width: 700px) {
  .input-pin {
    /*width: 300px;*/
    /*height: 300px;*/
  }
}
@media (min-width: 1024px) {
  .input-pin {
    width: 1024px;
    /*height: 1024px;*/
  }
}
.input-pin #basic-addon1 {
  font-size: 200px;
}
.input-pin input {
  min-width: 100%;
  font-size: 100px;
  /*min-width: 600px;*/
}
.input-pin input::-webkit-outer-spin-button,
.input-pin input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-pin input[type='number'] {
  -moz-appearance: textfield;
}
.test-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#video {
  position: absolute;
  width: 230px;
  height: 180px;
  border: 1px solid #ddd;
  top: 400px;
  left: 50px;
}
.videos-wrapper {
  position: fixed;
  width: auto;
  height: auto;
  bottom: 75px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.videos-wrapper.collapsed {
  top: unset;
  left: unset;
  width: 130px;
  position: fixed;
  height: 31px;
  cursor: pointer;
  color: #fff;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
  margin: auto;
  background: #A6ACBC;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
}
.videos-wrapper.collapsed .video {
  display: none;
}
.videos-wrapper .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}
.videos-wrapper .video .camera-wrapper #video1 {
  width: 320px;
  /*-webkit-transform: scale(-1,1);
                -ms-transform: scale(-1,1);
                transform: scale(-1,1);*/
  height: 230px;
}
.videos-wrapper .video .screen-wrapper #video2 {
  width: 320px;
  height: 230px;
}
.videos-wrapper .control {
  text-align: end;
}
.videos-wrapper .control span {
  cursor: pointer;
  margin-right: 16px;
}
.not-test {
  margin: auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}
.not-test .user-info {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}
.not-test .user-info .user-name {
  text-transform: capitalize;
  line-height: 60px;
}
.not-test .user-info .user-either {
  line-height: 20px;
}
.not-test .test-list {
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  margin-top: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #565C72;
  margin-bottom: 40px;
}
.not-test .test-list .test-wrapper {
  width: 100%;
  cursor: pointer;
  line-height: 40px;
  padding: 7px 20px;
  height: auto;
}
.not-test .test-list .test-wrapper .test-name {
  width: 80%;
}
.not-test .test-list .test-wrapper:nth-child(even) {
  background: #fafafa;
}
.not-test .test-list .test-wrapper:hover {
  background: #f2f2f2;
}
.not-test .test-list .test-wrapper .test-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.not-test .test-list .test-wrapper .test-item .test-icon {
  width: 35px;
  height: 35px;
  padding: 4px;
  margin-bottom: auto;
  margin-top: auto;
  line-height: initial;
}
.not-test .test-list .test-wrapper .test-item .test-icon i {
  font-size: 25px;
}
.panel-center {
  -webkit-box-shadow: #a2a2a2 0px 3px 4px;
  box-shadow: #a2a2a2 0px 3px 4px;
  max-width: 1300px;
  padding: 20px 10px 40px 10px;
  border-top: none;
  border: 1px solid #ddd;
  background: #fff;
}
.panel-center .question-wrapper img {
  width: 100%;
}
.panel-center .answer-list {
  margin-top: 45px;
}
.panel-center .answer-list .answer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.panel-center .answer-list .answer-wrapper .option-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.panel-center .answer-list .answer-wrapper .option-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.panel-center .answer-list .answer-wrapper .option-container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.panel-center .answer-list .answer-wrapper .option-container input:checked ~ .checkmark:after {
  display: block;
}
.panel-center .answer-list .answer-wrapper .option-container.double .checkmark {
  top: 29%;
}
.panel-center .answer-list .answer-wrapper .option-container.triple .checkmark {
  top: 35%;
}
.panel-center .answer-list .answer-wrapper .option-container .checkmark {
  position: absolute;
  top: 12%;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.panel-center .answer-list .answer-wrapper .option-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 11px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.panel-center .answer-list .answer-wrapper .option-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.panel-center .answer-list .answer-wrapper img {
  width: auto;
  max-width: 100%;
}
.panel-center .answer-list .answer-wrapper .option-rb-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.panel-center .answer-list .answer-wrapper .option-rb-container.double .checkmark {
  top: 25%;
}
.panel-center .answer-list .answer-wrapper .option-rb-container.triple .checkmark {
  top: 35%;
}
.panel-center .answer-list .answer-wrapper .option-rb-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  border: 3px solid #A6ACBC;
  top: 20%;
}
.panel-center .answer-list .answer-wrapper .option-rb-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 4px;
  left: 4px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #2196f3;
}
.panel-center .answer-list .answer-wrapper .option-rb-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.panel-center .answer-list .answer-wrapper .option-rb-container input:checked ~ .checkmark {
  border-color: #2196f3;
}
.panel-center .answer-list .answer-wrapper .option-rb-container input:checked ~ .checkmark:after {
  display: block;
}
.panel-center .answer-list .answer-wrapper .textarea-wrapper {
  width: 100%;
}
.panel-center .answer-list .answer-wrapper .textarea-wrapper textarea {
  resize: vertical;
  max-width: initial;
}
.panel-center .answer-list .answer-wrapper .textarea-wrapper .image-preview-wrapper img {
  width: 400px;
}
.panel-center .tip {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #A6ACBC;
}
.panel-center .question-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.panel-center .question-pagination .page {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  text-align: center;
  padding: 2px;
  font-family: Montserrat;
  font-weight: 600;
  color: #fff;
  margin-right: 5px;
  background: #A6ACBC;
  cursor: pointer;
  margin-bottom: 10px;
}
.panel-center .question-pagination .page.active {
  background: rgba(86, 92, 114, 0.8);
}
.panel-center .question-pagination .page.answered:before {
  content: "";
  display: block;
  position: absolute;
  /*top: 0;*/
  width: 12px;
  height: 12px;
  border: 6px solid transparent;
  border-left: 6px solid #000;
  border-top: 6px solid #000;
  border-left-color: #1D80D6;
  border-top-color: #1D80D6;
}
.panel-center .question-pagination .page.disabled {
  cursor: default;
  opacity: 0.7;
}
.open-chat-wrapper {
  position: absolute;
  left: 5%;
  top: 90px;
  cursor: pointer;
}
.open-chat-wrapper button {
  width: 130px;
  height: 31px;
  color: #fff;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
  margin: auto;
  background: #A6ACBC;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
}
.open-chat-wrapper button:hover {
  background: rgba(86, 92, 114, 0.8);
}
.open-chat-wrapper .chat-unread-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  background: #FF4170;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #fff;
}
.open-chat-wrapper .chat-unread-wrapper span {
  margin-left: 5px;
  margin-top: -3px;
  font-size: 16px;
  display: block;
}
.instruction-wrapper {
  margin-top: 30px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
}
.panel-right {
  right: -100%;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #C4C4C4;
  -webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  z-index: 5;
  overflow-y: auto;
}
.panel-right.opened {
  right: 0;
}
.panel-right.opened .control-btn {
  opacity: 1;
}
.panel-right .control-btn {
  opacity: 0;
  -webkit-transition: opacity ease 0.5s;
  -o-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
  position: relative;
  top: 50%;
  cursor: e-resize;
  width: 18px;
}
.panel-right .control-btn svg {
  color: #fff;
  width: 35px;
  height: 35px;
  background: #565c72;
  border-radius: 50%;
  padding: 4px;
  margin-left: -18px;
}
.panel-right .tip-wrapper {
  overflow: auto;
  margin-bottom: 135px;
  margin-left: -10px;
}
.panel-right .tip-wrapper .top-panel {
  width: 100%;
  height: 40px;
}
.panel-right .tip-wrapper .top-panel .close-btn {
  float: right;
  margin-right: 15px;
  cursor: pointer;
}
.panel-right .tip-wrapper .top-panel .close-btn svf {
  color: #fff;
  margin-left: 6px;
  margin-top: 2px;
  font-size: 29px;
  font-weight: 100;
}
.panel-right .tip-wrapper .material-wrapper {
  margin-left: 10px;
}
.panel-right .tip-wrapper .material-wrapper img {
  margin: auto;
  display: block;
}
@media (min-width: 576px) {
  .not-test {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .not-test .user-info {
    /*line-height: 60px;*/
  }
  .not-test .test-list {
    width: 600px;
  }
  .not-test .test-list .test-wrapper {
    padding-left: 35px;
    padding-right: 35px;
  }
  .panel-center {
    padding: 30px 30px 50px 70px;
  }
  .panel-center .answer-list .answer-wrapper img {
    width: auto;
    max-width: 100%;
  }
  .panel-center .answer-list .answer-wrapper .textarea-wrapper {
    width: 100%;
  }
  .panel-center .question-wrapper img {
    width: 100%;
  }
  .panel-right {
    right: -550px;
    width: 540px;
  }
  .videos-wrapper {
    width: 680px;
    height: 260px;
    left: 50px;
  }
  .videos-wrapper.collapsed {
    right: 170px;
    bottom: 75px;
  }
  .videos-wrapper .video {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    padding: 0 5px;
  }
  .videos-wrapper .video .camera-wrapper {
    margin-right: 30px;
  }
}
.panel-top {
  margin-top: 70px;
  margin-bottom: 14px;
  margin-left: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*margin-right: -11px;*/
}
.panel-top .discipline-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #A6ACBC;
}
.panel-top .paused {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: red;
}
.panel-top .right-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.panel-top .right-panel .timer {
  color: #A6ACBC;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-right: 20px;
}
.panel-top .right-panel .timer.finishing {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  color: red;
  font-size: 20px;
}
.panel-top .right-panel .ref {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c4c4c4;
  color: #fff;
  cursor: pointer;
}
.panel-top .right-panel .ref i {
  margin-left: 7px;
}
@-webkit-keyframes pulse {
  from {
    /*transform: scale(1);*/
    opacity: 0;
  }
  to {
    /*transform: scale(1.5);*/
    opacity: 1;
  }
}
@keyframes pulse {
  from {
    /*transform: scale(1);*/
    opacity: 0;
  }
  to {
    /*transform: scale(1.5);*/
    opacity: 1;
  }
}
.test-process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.test-finish-process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}
.test-finish-process .main-wrapper {
  margin: auto;
  font-weight: 600;
  font-family: montserrat;
  line-height: 40px;
  font-size: 20px;
  color: #565c72;
}
.test-finish-process .main-wrapper .panel-center {
  padding: 25px;
}
.test-finish-process .main-wrapper .panel-center .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.test-finish-process .main-wrapper .panel-center .control button {
  width: 282px;
  /*height: 44px;*/
  color: #fff;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
  margin: auto;
  background: #A6ACBC;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.test-finish-process .main-wrapper .panel-center .control button:hover {
  background: rgba(86, 92, 114, 0.8);
}
.test-finish-process .main-wrapper .panel-center .control button:disabled {
  background: #A6ACBC;
}
.empty-list {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
  margin-top: 80px;
  text-align: center;
}
.return-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.return-wrapper .back-list {
  width: 282px;
  cursor: pointer;
  height: 44px;
  color: #fff;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 44px;
  margin: auto;
  background: #A6ACBC;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.finish-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.finish-game .btn-gray {
  width: 282px;
  /*height: 44px;*/
  color: #fff;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
  margin: auto;
  background: #A6ACBC;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.finish-game .btn-gray:hover {
  background: rgba(86, 92, 114, 0.8);
}
.disabled-info {
  width: 100%;
  height: 100%;
  background: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-top: 100px;
  padding: 20px;
}
.disabled-info .btn-verify {
  height: 44px;
  color: #fff;
  background: #565c72;
  border: none;
  margin-top: 40px;
}
.disabled-info .btn-verify.disabled {
  opacity: 0.7;
}
.btn-reset {
  height: 44px;
  color: #fff;
  background: #565c72;
  border: none;
  margin-top: 40px;
  margin-left: 40px;
}
.pre-video-wrapper video {
  width: 320px;
  height: 230px;
  /*transform: scale(-1,1);*/
}
.pre-video-wrapper video.error {
  border: 2px solid red;
}
.pre-video-wrapper video.no-face {
  border: 2px solid yellow;
}
canvas {
  /*position: absolute;
    top: -100%;*/
}
#full-chat-wrapper {
  display: none;
  width: 300px;
  height: 500px;
  position: fixed;
  left: 45px;
  bottom: 90px;
  z-index: 3;
  background: #fff;
  border: 1px solid #c4c4c4;
}
#full-chat-wrapper.opened {
  display: block;
}
#full-chat-wrapper .chat-panel {
  position: relative;
  width: 100%;
  height: 40px;
  background: #565C72;
  padding: 3px 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#full-chat-wrapper .chat-panel .user-info {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: #fff;
}
#full-chat-wrapper .chat-panel .btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: #fff;
}
#full-chat-wrapper .chat-panel .toggler-type {
  margin-right: 5px;
  cursor: pointer;
}
#full-chat-wrapper .chat-panel .close-btn {
  cursor: pointer;
  color: #fff;
}
#full-chat-wrapper .text-chat-wrapper {
  border-bottom: 1px solid #ddd;
  height: 460px;
  background: #fff;
}
#full-chat-wrapper .text-chat-wrapper .chat-wrapper {
  height: 390px;
  padding-left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
#full-chat-wrapper .text-chat-wrapper .chat-wrapper .chat-message-wrapper {
  background: #cacaca;
  margin: 5px;
  padding: 7px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
  max-width: 230px;
  word-break: break-word;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clear: both;
}
#full-chat-wrapper .text-chat-wrapper .chat-wrapper .chat-message-wrapper.sender {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
  background: #a6acbc;
  float: right;
}
#full-chat-wrapper .text-chat-wrapper .chat-wrapper .chat-message-wrapper.sender .chat-message {
  text-align: end;
}
#full-chat-wrapper .text-chat-wrapper .chat-wrapper .chat-message-wrapper .chat-message {
  font-family: Montserrat;
  font-style: normal;
}
#full-chat-wrapper .text-chat-wrapper .chat-wrapper .chat-message-wrapper .chat-message .message-text {
  font-size: 16px;
  line-height: 20px;
}
#full-chat-wrapper .text-chat-wrapper .chat-wrapper .chat-message-wrapper .chat-message .message-date {
  font-size: 10px;
  float: right;
}
#full-chat-wrapper .text-chat-wrapper .send-message-wrapper {
  background: #565c72;
  padding: 3px;
}
#full-chat-wrapper .text-chat-wrapper .send-message-wrapper .message-input {
  width: 299px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#full-chat-wrapper .text-chat-wrapper .send-message-wrapper .message-input textarea {
  width: 242px;
  height: 40px;
  resize: none;
}
#full-chat-wrapper .text-chat-wrapper .send-message-wrapper .message-input button {
  width: 40px;
  height: 40px;
  border: none;
  background: #A6ACBC;
}
#full-chat-wrapper .text-chat-wrapper .send-message-wrapper .message-input button span {
  color: #fff;
}
.calc-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
}
.calc-wrapper .calculator {
  margin: auto;
}
.calc-wrapper .calculator .result-wrapper {
  height: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 50px;
  background: #fff;
  padding-right: 10px;
  border-bottom: 2px solid #c4c4c4;
}
.calc-wrapper .calculator .result-wrapper #text-area {
  text-align: end;
}
.calc-wrapper .calculator .button-wrapper {
  background: #fff;
}
.calc-wrapper .calculator .button-wrapper .calc-row {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 10px;
}
.calc-wrapper .calculator .button-wrapper .calc-row .calc-col {
  margin-right: 10px;
}
.calc-wrapper .calculator .button-wrapper .calc-row .calc-col .key {
  width: 50px;
  cursor: pointer;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #565c72;
  color: #fff;
}
.calc-wrapper .calculator .button-wrapper .calc-row .calc-col .key span {
  margin: auto;
}
.calc-wrapper .calculator .button-wrapper .calc-row .calc-col .key.s-1 {
  width: 50px;
}
.calc-wrapper .calculator .button-wrapper .calc-row .calc-col .key.s-2 {
  width: 110px;
}
#flash-toggle {
  display: none;
}
.wrapper {
  margin-top: 30px;
}
.request-qr-wrapper {
  font-family: montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
}
.justify-content-around video {
  width: 100%;
}