@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}
#main-window {
    margin-bottom: 75px;
}
.input-pin {
    width: 1024px;
    height: 1024px;

    #basic-addon1 {
        font-size: 200px;
    }

    input {
        font-size: 200px;
        min-width: 600px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type='number'] {
        -moz-appearance: textfield;
    }
}

.test-info{
    display:flex;
}

#video {
    position: absolute;
    width: 230px;
    height: 180px;
    border: 1px solid #ddd;
    top: 400px;
    left: 50px;
}
#video1 {
    position: absolute;
    width: 320px;
    height: 240px;
    border: 1px solid #ddd;
    top: 700px;
    left: 50px;
}
#video2 {
    position: absolute;
    width: 320px;
    height: 240px;
    border: 1px solid #ddd;
    top: 700px;
    left: 400px;
}
.not-test {
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-flow: column;

    .user-info {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
    }

    .test-list {
        background: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-flow: column;
        width: 600px;
        margin-top: 40px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #565C72;


        .test-wrapper {
            width: 100%;
            padding-left: 35px;
            padding-right: 35px;
            cursor: pointer;
            line-height: 60px;
            height: 60px;


            &:nth-child(even) {
                background: #fafafa;
            }

            &:hover {
                background: #f2f2f2;
            }

            .test-item {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .test-icon {
                    width: 35px;
                    height: 35px;
                    padding: 4px;

                    i {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

.panel-top {
    margin-top: 70px;
    margin-bottom: 14px;
    margin-left: 29px;
    display: flex;
    justify-content: space-between;
    margin-right: -11px;

    .discipline-title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #A6ACBC;
    }

    .right-panel {
        display: flex;

        .timer {
            color: #A6ACBC;
            font-family: Montserrat;
            font-weight: 600;
            font-size: 16px;
            /* line-height: 13px; */
            margin-right: 20px;
        }

        .ref {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #c4c4c4;
            color: #fff;
            cursor: pointer;

            i {
                margin-left: 7px;
            }
        }
    }
}

.test-process {
    display: flex;
}

.panel-center {
    box-shadow: #a2a2a2 0px 3px 4px;
    max-width: 1300px;
    padding: 30px 30px 50px 70px;
    border-top: none;
    border: 1px solid #ddd;
    background:#fff;

    .question-wrapper {
        img {
            max-width: 1024px;
        }
    }

    .answer-list {
        margin-top: 45px;

        .answer-wrapper {
            display: flex;
            margin-bottom: 20px;

            .option-container {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 22px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;

                    &:checked ~ .checkmark {
                        background-color: #2196F3;
                    }

                    &:checked ~ .checkmark:after {
                        display: block;
                    }
                }

                &.double {
                    .checkmark {
                        top: 29%;
                    }
                }

                &.triple {
                    .checkmark {
                        top: 35%;
                    }
                }

                .checkmark {
                    position: absolute;
                    top: 12%;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: #eee;

                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                        left: 11px;
                        top: 6px;
                        width: 5px;
                        height: 10px;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }

                &:hover input ~ .checkmark {
                    background-color: #ccc;
                }
            }

            img {
                max-width: 966px;
            }

            .option-rb-container {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 22px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                &.double {
                    .checkmark {
                        top: 25%;
                    }
                }

                &.triple {
                    .checkmark {
                        top: 35%;
                    }
                }

                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: #eee;
                    border-radius: 50%;
                    border: 3px solid #A6ACBC;
                    top: 20%;


                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                        top: 4px;
                        left: 4px;
                        width: 11px;
                        height: 11px;
                        border-radius: 50%;
                        background: #2196f3;
                    }
                }

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;

                    &:checked ~ .checkmark {
                        border-color: #2196f3;

                        &:after {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .tip {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #A6ACBC;
    }

    .question-pagination {
        display: flex;
        margin-top: 50px;
        justify-content: center;

        .page {
            width: 30px;
            height: 30px;
            border-radius: 3px;
            text-align: center;
            padding: 2px;
            font-family: Montserrat;
            font-weight: 600;
            color: #fff;
            margin-right: 5px;
            background: #A6ACBC;
            cursor: pointer;

            &.active {
                background: rgba(86, 92, 114, 0.8);
            }

            &.answered:before {
                content: "";
                display: block;
                position: absolute;
                /*top: 0;*/
                width: 12px;
                height: 12px;
                border: 6px solid transparent;
                border-left: 6px solid #000;
                border-top: 6px solid #000;
                border-left-color: #1D80D6;
                border-top-color: #1D80D6;
            }

            &.disabled {
                cursor: default;
                opacity: 0.7;
            }
        }
    }
}

.finish-game {
    display: flex;
    margin-top: 50px;


    .btn-gray {
        width: 282px;
        height: 44px;
        color: #fff;
        border: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 33px;
        margin: auto;
        background: #A6ACBC;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;

        &:hover {
            background: rgba(86, 92, 114, 0.8);
        }
    }
}

.panel-right {
    right: -540px;
    position: absolute;
    height: 100%;
    /*display: none;*/
    width: 540px;
    /*border-left:*/
    background: #C4C4C4;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.5);
    transition: right 0.5s ease;

    &.opened {
        right: 0;

        .control-btn {
            /*display: block;*/
            opacity: 1;
        }
    }

    .control-btn {
        /*display: none;*/
        opacity: 0;
        transition: opacity ease 0.5s;
        position: relative;
        top: 50%;
        cursor: e-resize;
        width: 18px;

        svg {
            color: #fff;
            width: 35px;
            height: 35px;
            background: #565c72;
            border-radius: 50%;
            padding: 4px;
            margin-left: -18px;
        }
    }

    .tip-wrapper {
        margin-left: -10px;

        .top-panel {
            width: 100%;
            height: 40px;

            .close-btn {
                float: right;
                width: 30px;
                height: 30px;
                background: #565c72;
                border-radius: 50%;
                margin-top: 15px;
                margin-right: 15px;
                cursor: pointer;

                i {
                    color: #fff;
                    margin-left: 6px;
                    margin-top: 2px;
                    font-size: 29px;
                    font-weight: 100;
                }
            }
        }
    }
}

