<link href="~/Content/Statistic/index.css?3" rel="stylesheet" />
<div id="main-window">
    <div class="panel-list">
        @*<div class="panel-wrapper" v-on:click="loadPeople">
                <div class="panel">Выгрузить людей</div>
            </div>*@
        @*<div class="panel-wrapper" v-on:click="showTable">
                <div class="panel">Просмотреть результаты</div>
            </div>*@
        <div v-for="item in auditoryList" v-on:click="selectAud(item.Id)" class="panel-wrapper mt-2 mb-2" :class="{'active': currentAud == item.Id}">
            {{item.Name}}
        </div>
    </div>
    <div class="form-wrapper">
        <span v-on:click="printAudResult(currentAud)" style="cursor:pointer;">
            <img src="~/Files/svg/print-statistic-black.svg" />
        </span>
    </div>
    <br />
    <a href="/verification/saveresult">Творческие испытания</a>
    <a href="/statistic/minitotal">Перейти к поиску</a>
    <br />
    <div class="full-table-wrapper">
        @*<div class="filter-name">ФИО</div>
            <input type="text" class="form-control" v-model="filterFIO" />*@
        <div class="row mt-2 mb-2">
            <div class="filter-name mr-2 ml-3">Дата</div>
            <input type="date" class="form-control mr-2" style="width: 170px;" v-model="currentDate" v-on:change="getUsers()" />
            @*<div class="filter-name">Оценка</div>*@
            <div class="filter-name mr-2">Статус</div>
            <select class="form-control mr-2" v-model="currentStatus" style="width: 200px;" v-on:change="getUsers"> <option v-for="item of statuses" v-bind:value="item.Id">{{item.Name}}</option></select>
            <template v-if="isSuperAdmin" >
                <input class="form-control mr-2" style="width: 80px" type="checkbox" v-on:change="filterDownload" />
                <span class="mr-3">Количество ВИ: {{filteredUsers.length}}</span>
                <button v-on:click="donwloadAll()" class="btn btn-outline-dark" v-if="[4].indexOf(currentStatus) != -1">Скачать всё</button>
                <button v-on:click="uploadAll()" class="btn btn-outline-dark" v-if="[3].indexOf(currentStatus) != -1">убрать всё</button>
                <button v-on:click="downloadAllWithTitle()" class="btn btn-outline-dark ml-2"><i class="fa fa-print"></i></button>
            </template>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>ФИО</td>
                    <td>Дата</td>
                    <td>Оценка</td>
                    <td>Дисциплина</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in filteredUsers">
                    <td>{{user.LastName}} {{user.FirstName}} {{user.MiddleName}}</td>
                    <td>{{user.TestingDate}}</td>
                    <td>{{user.Score}}</td>
                    @*<td>{{findStatus(currentStatus)}}</td>*@
                    <td>{{user.Discipline}}</td>
                    <td v-if="[4,3].indexOf(currentStatus) != -1">
                        <a v-bind:href="'/auditory/DownloadReport?Id=' + user.Id + '&Type=' + 3">
                            <span style="cursor:pointer;">
                                <img src="~/Files/svg/print-statistic-red.svg" />
                            </span>
                        </a>
                        <a v-bind:href="'/auditory/DownloadReport?Id=' + user.Id + '&Type=' + 1" title="Скачать результаты">
                            <span style="cursor:pointer;">
                                <img src="~/Files/svg/print-statistic-black.svg" />
                            </span>
                        </a>
                        <a v-bind:href="'/auditory/DownloadReport?Id=' + user.Id + '&Type=' + 4">
                            <span style="cursor:pointer;">
                                <img src="~/Files/svg/print-statistic-yellow.svg" />
                            </span>
                        </a>
                    </td>
                    <td v-if="[4,3].indexOf(currentStatus) != -1" title="Скачать видео с вебки">
                        <span v-on:click="Download(user.Id, 1)" style="cursor:pointer;">
                            <i class="fa fa-video-camera"></i>
                        </span>
                    </td>
                    <td v-if="[4,3].indexOf(currentStatus) != -1" title="Скачать видео с экрана">
                        <span v-on:click="Download(user.Id, 2)" style="cursor:pointer;">
                            <i class="fa fa-desktop"></i>
                        </span>
                    </td>
                    <td v-if="[3].indexOf(currentStatus) != -1 && hasAccess" title="Выгрузить">
                        <span v-on:click="saveResult(user.Id)" style="cursor:pointer;">
                            <i class="fa fa-share"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="~/Content/Statistic/index.js?4"></script>