<link href="~/Content/Statistic/minitotal.css?2" rel="stylesheet" />
<div id="main-window">
    <div class="base-control">
        <form id="form-1" class="row">
            <input type="text" v-model="currentFIO" class="form-control mr-3 ml-1" id="fio" />
            <input type="submit" value="Найти" v-on:click="findByFIO" class="btn btn-outline-primary">
        </form>
    </div>
    @*<a href="/statistic/total">Полная версия</a>*@
    <div v-if="textForShow">
        {{textForShow}}
    </div>
    <div class="info-wrapper">
        <table class="table table-bordered table-stripped table-hover">
            <tr v-for="human in filteredPeople" v-on:click="selectHuman(human.Id)">
                <td><img v-bind:src="'data:image/png;base64, ' + human.picture" height="75" /></td>
                <td>{{human.Id}}</td>
                <td>{{human.Name}}</td>
                <td>{{human.Guid}}</td>
            </tr>
        </table>
        <table v-if="currentHuman.disciplines.length > 0" class="table table-bordered table-striped">
            <tr>
                <th>Дисциплина</th>
                <th>Назначен на</th>
                <th>Дата начала выполнения</th>
                <th>Дата окончания выполнения</th>
                <th>Результат</th>
                <th>Текущий статус</th>
                <th>Управление</th>
            </tr>
            <tr v-for="discipline in currentHuman.disciplines">
                @*<td>{{discipline.Id}}</td>*@
                <td>{{discipline.Name}}</td>
                <td>{{discipline.TestingDate}}</td>
                <td>{{discipline.TestingBegin}}</td>
                <td>{{discipline.TestingEnd}}</td>
                <td>{{discipline.Score}}</td>
                <td>{{discipline.Status}}</td>
                <td>
                    <template v-if="discipline.IsAdmin">
                        <button v-on:click="resetTP(discipline)" title="Сбросить"><i class="fa fa-sync"></i></button>
                        <button v-on:click="finishTP(discipline)" title="Завершить"><i class="fa fa-check"></i></button>
                        <button v-on:click="deleteTP(discipline)" title="Удалить"><i class="fa fa-times"></i></button>
                        <button v-on:click="nullify(discipline)" title="Аннулировать">0</button>
                    </template>
                    <template v-if="(discipline.IsReport || discipline.IsAdmin) && [3,4, 6].indexOf(discipline.StatusId) != -1">
                        <button v-on:click="download(discipline.Id)" title="Скачать отчёт" v-if=""><i class="fa fa-print"></i></button>
                        <button v-on:click="downloadCamera(discipline.Id, 1)" title="Скачать изображение с камеры"><i class="fa fa-video-camera"></i></button>
                    </template>
                    @*<button v-on:click="openNewPlaceWindow()"><i class="fa fa-expand"></i></button>*@
                </td>
            </tr>
        </table>
    </div>
    <div class="modal fade" id="place-window" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label">Назначить место</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div><div v-for="aud in auditories" v-on:click="getAuditoryInfo(aud.Id)">{{aud.Name}}</div></div>
                    <div class="place-list">
                        <div v-for="place in places" class="place-wrapper" v-bind:class="{'current' : currentHuman.placeInfo.Id == place.Id}" v-on:click="setPlaceToUser(place.Id)">{{place.number}}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" v-on:click="buildAuditory()" data-dismiss="modal">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <div id="circleG" v-if="objectLoading.loading">
        <div id="circleG_1" class="circleG"></div>
        <div id="circleG_2" class="circleG"></div>
        <div id="circleG_3" class="circleG"></div>
    </div>
</div>
<script src="~/Content/Statistic/minitotal.js?2"></script>