
@{
    ViewBag.Title = "Быстрый поиск";
}

<link href="~/Content/Statistic/minitotal.css?8" rel="stylesheet" />
<div id="main-window">
    <div class="base-control">
        <form id="form-1" class="row">
            <label class="mr-3 mt-auto">Введите фамилию:</label>
            <input type="text" v-model="currentFIO" class="form-control mr-3 ml-1" id="fio" />
            <input type="submit" value="Найти" v-on:click="findByFIO" class="btn btn-outline-primary">
        </form>
    </div>
    @*<a href="/statistic/total">Полная версия</a>*@
    <div v-if="textForShow">
        {{textForShow}}
    </div>
    <template v-if="currentHuman.disciplines.length > 0">
        <button class="btn refresh-btn" v-on:click="selectHuman(currentHuman)" title="Получить заново">
            <i class="fa fa-refresh"></i>
        </button>
    </template>
    <div class="info-wrapper">
        <div class="human-table-wrapper">
            <table class="table table-bordered table-stripped table-hover">
                <tr v-for="human in filteredPeople" v-on:click="selectHuman(human)" :class="{'table-secondary': human.Id == currentHuman.Id}">
                    <td><img v-bind:src="'data:image/png;base64, ' + human.picture" height="75" v-if="human.picture" class="photo" v-on:click="openFullPhoto(human)" /><img src="~/Files/no-photo.png" v-if="!human.picture" height="75" /></td>
                    <td>{{human.Id}}</td>
                    <td>{{human.Name}}</td>
                    <td class="user-select-all">{{human.Guid}}</td>
                    <td v-if="hasFullAccess"> <button title="Назначить ВИ" v-on:click="openNewTestWindow(human)"> <i class="fa fa-calendar-check"></i></button></td>
                </tr>
            </table>
        </div>
        <table v-if="currentHuman.disciplines.length > 0" class="table table-bordered table-striped">
            <tr>
                <th v-if="hasFullAccess">Ид</th>
                <th>Дисциплина</th>
                <th>Назначен на</th>
                <th>Время начала выполнения</th>
                <th>Время окончания выполнения</th>
                <th>Балл</th>
                <th>Текущий статус</th>
                <th>Место</th>
                <th>Отвечено</th>
                <th>Управление</th>
            </tr>
            <tr v-for="discipline in currentHuman.disciplines">
                <td v-if="hasFullAccess" class="user-select-all">{{discipline.Id}}</td>
                <td>{{discipline.Name}}</td>
                <td>{{discipline.TestingDate.toLocaleString()}}</td>
                <td>{{discipline.TestingBegin}}</td>
                <td>{{discipline.TestingEnd}}</td>
                <td>{{discipline.Score}}</td>
                <td>{{discipline.Status}}</td>
                <td>{{discipline.PlaceNumber}}</td>
                <td>{{discipline.AnsweredInfo}}</td>
                <td>
                    <template v-if="discipline.IsAdmin">
                        <button v-on:click="resetTP(discipline)" title="Сбросить"><i class="fa fa-sync"></i></button>
                        <button v-on:click="finishTP(discipline)" title="Завершить"><i class="fa fa-check"></i></button>
                        <button v-on:click="deleteTP(discipline)" title="Удалить"><i class="fa fa-times"></i></button>
                        <button v-on:click="nullify(discipline)" title="Аннулировать">0</button>
                        <button v-on:click="DoubleNullified(discipline)" title="Перенести аннулированный"><i class="fa fa-angle-double-right"></i></button>
                        <button v-on:click="unload(discipline)" title="Выгрузить">
                            <i class="fa fa-share"></i>
                        </button>
                        <button v-on:click="openNewPlaceWindow(discipline)" title="Пересадить" v-if="isToday(discipline)"><i class="fa fa-pencil-alt"></i></button>
                    </template>
                    <template v-if="(discipline.IsReport || discipline.IsAdmin) && [3, 4, 6].indexOf(discipline.StatusId) != -1">
                        <button v-on:click="download(discipline)" title="Скачать отчёт"><i class="fa fa-print"></i></button>
                        <button v-if="discipline.IsAdmin" v-on:click="downloadCamera(discipline.Id, 1)" title="Скачать изображение с камеры"><i class="fa fa-video-camera"></i></button>
                        <button v-if="discipline.IsAdmin" v-on:click="downloadCamera(discipline.Id, 2)" title="Скачать изображение с экрана"><i class="fa fa-desktop"></i></button>
                    </template>
                    <template v-if="(discipline.IsReport || discipline.IsAdmin) && discipline.StatusId == 2">
                        <button v-if="discipline.IsAdmin" v-on:click="downloadCamera(discipline.Id, 1)" title="Скачать изображение с камеры"><i class="fa fa-video-camera"></i></button>
                        <button v-if="discipline.IsAdmin" v-on:click="downloadCamera(discipline.Id, 2)" title="Скачать изображение с экрана"><i class="fa fa-desktop"></i></button>
                    </template>
                    <button v-if="hasFullAccess" title="Посмотреть логи" v-on:click="openUserAnswerLogMWindow(discipline)"> <i class="fa fa-clipboard-list"></i></button>
                    <button v-if="hasFullAccess" title="Изменить время" v-on:click="openChangeTimeMWindow(discipline)"> <i class="fa fa-calendar-alt"></i></button>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal fade" id="place-window" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label">Назначить место</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="auditory-list"><div v-for="aud in auditories" v-on:click="getAuditoryInfo(aud)" class="auditory" v-bind:class="{'current' : auditory.Id == aud.Id}">{{aud.Name}}</div></div>
                    <div class="place-list">
                        <div v-for="place in places" class="place-wrapper" :disabled="place.IsUsed" v-bind:class="{'current' : currentTest.PlaceId == place.Id, 'disabled': place.IsUsed}" v-on:click="setPlaceToUser(place.Id)">{{place.Number}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="user-new-time-window" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label">Назначить другую дату</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <input type="datetime-local" v-model="newDate" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" v-on:click="saveNewDate()" class="btn btn-secondary" data-dismiss="modal">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="user-photo-window" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img class="photo" v-bind:src="'data:image/png;base64, ' + currentPhoto" />
                </div>

                <div class="modal-footer">
                    <button type="button"  v-on:click="closePhoto()" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="user-new-test-window" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label">Назначить ВИ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <select class="form-control ml-3" v-model="assignedModel.DisciplineId"><option v-for="disc in disciplines" :value="disc.Id">{{disc.Name}}</option></select>
                        <input class="form-control ml-3" type="datetime-local" v-model="assignedModel.Date" />
                    </div>
                    <div class="auditory-list"><div v-for="aud in auditories" v-on:click="getAuditoryInfo(aud)" class="auditory" v-bind:class="{'current' : auditory.Id == aud.Id}">{{aud.Name}}</div></div>
                    <div class="place-list">
                        <div v-for="place in places" class="place-wrapper" v-bind:class="{'current' : assignedModel.PlaceId == place.Id}" v-on:click="selectPlace(place.Id)">{{place.Number}}</div>
                    </div>
                    <button class="btn btn-outline-dark float-right mr-5 mt-3" v-on:click="assignTest()">Назначить</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="user-answer-log-window" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label">История ответов</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" v-loader="modalLoading">
                    <div v-for="item in userAnswerLog" class="user-log-wrapper">
                        <div class="question-wrapper">
                            <div class="rank">
                                {{item.Question.Rank}}
                            </div>
                            <div class="image-wrapper">
                                <img :src="'data:image/png;base64, ' + item.Question.QuestionImage" />
                            </div>
                        </div>
                        <div class="answer-list-wrapper mb-1" v-for="answer in item.Answers">
                            <span class="icon-check border">
                                <i class="fa fa-check" v-if="answer.IsRight"></i>
                            </span>
                            <span class="icon-check border border-left-0" v-for="userAnswer in answer.UserAnswers">
                                <i class="fa fa-check" :title="(new Date(userAnswer.Time)).toLocaleTimeString()" v-if="userAnswer.UserAnswer == 1"></i>
                            </span>
                            <!--<div class="user-answer-wrapper" v-for="userAnswer in answer.UserAnswers">
                                <span class="icon-check border">
                                    <i class="fa fa-check" :title="(new Date(userAnswer.Time)).toLocaleTimeString()" v-if="userAnswer.UserAnswer == 1"></i>
                                </span>
                                <div class="timestamp-wrapper small text-muted">{{(new Date(userAnswer.Time)).toLocaleTimeString()}}</div>
                            </div>-->
                            <div class="correct-answer-wrapper"> <img :src="'data:image/png;base64, ' + answer.Answer.Name" /></div>

                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="circleG" v-if="objectLoading.loading">
        <div id="circleG_1" class="circleG"></div>
        <div id="circleG_2" class="circleG"></div>
        <div id="circleG_3" class="circleG"></div>
    </div>
</div>
<script src="~/Content/Statistic/minitotal.js?13"></script>
