<link href="~/Content/Statistic/minitotal.css?1" rel="stylesheet" />
<link href="~/Content/Statistic/total.css?1" rel="stylesheet" />
<div id="main-window">
    <div class="base-control">
        <div class="input-wrapper">
            <input type="date" v-model="date" class="form-control" />
            <select v-model="testingStatusId" class="form-control">
                <option value="null">Все</option>
                <option :value="status.Id" v-for="status in statuses">{{status.Name}}</option>
            </select>
            <input type="checkbox" v-model="needTime" class="form-control" />
            <input type="time" v-model="testingTime" class="form-control" />
            <input type="text" v-model="lastName" class="form-control" />
            <input type="text" v-model="firstName" class="form-control" />
            <input type="submit" value="Найти" v-on:click="find" class="btn btn-outline-primary">
        </div>
    </div>
    <div v-for="item in people">
        <div class="row">
            <div v-for="(value, key) in item" class="tp-item-wrapper">
                {{key}} : {{value}}
            </div>
        </div>
        <br />
        <div>
            <button v-on:click="resetTP(item)" title="Сбросить"><i class="fa fa-sync"></i></button>
            <button v-on:click="finishTP(item)" title="Завершить"><i class="fa fa-check"></i></button>
            <button v-on:click="deleteTP(item)" title="Удалить"><i class="fa fa-times"></i></button>
            <button v-on:click="nullify(item)" title="Аннулировать">0</button>
            <button v-on:click="download(item.Id)" title="Скачать отчёт"><i class="fa fa-print"></i></button>
            <button v-on:click="downloadCamera(item.Id, 1)" title="Скачать изображение с камеры"><i class="fa fa-video-camera"></i></button>
            @*<button v-on:click="openNewPlaceWindow()"><i class="fa fa-expand"></i></button>*@
        </div>
    </div>
    <div id="circleG" v-if="objectLoading.loading">
        <div id="circleG_1" class="circleG"></div>
        <div id="circleG_2" class="circleG"></div>
        <div id="circleG_3" class="circleG"></div>
    </div>
</div>
<script src="~/Content/Statistic/total.js?3"></script>