<script src="~/Content/f-awesome.js"></script>
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/Auditory/moderate.css" rel="stylesheet" />

@{
    ViewBag.Title = "Администрирование аудитории";
}

<div id="main-window">
    <div class="auditory-header">
        {{switchLocal(1)}} {{auditoryName}}
    </div>
    <div class="auditory row">
        <div class="computer-list">
            <div class="place-table">
                <div class="place-row row">
                    <div v-for="item in computerList" class="col full-col">
                        <div class="place-item" :title="item.Name" v-if="item.Name">
                            <div class="video-wrapper" v-if="item.TestingProfileId">
                                <video autoplay v-bind:id="'video-' + item.TestingProfileId + '-1'" muted class="video-camera"></video>
                                <video autoplay v-bind:id="'video-' + item.TestingProfileId + '-2'" muted class="video-screen"></video>
                                <div class="delete" title="Заменить" v-on:click="switchVideo('video-' + item.TestingProfileId)" v-if="!item.Deleted">
                                    <i class="fa fa-sync-alt"></i>
                                </div>
                            </div>
                            <div class="empty-wrapper" v-if="!item.TestingProfileId">
                                <div class="empty-info">
                                    <div class="empty-item">Свободно</div>
                                </div>
                            </div>
                            <div class="info-wrapper">
                                <div class="place-info">
                                    <div class="place-name">{{item.Name}}</div>
                                    <div class="user-name" v-if="item.TestingProfileId" v-on:click="consoleUser(item)" v-on:dblclick="resetUser(item)">({{item.LastName}} {{item.FirstName}} {{item.MiddleName}})</div>
                                    <div class="user-name">
                                        <span v-if="item.TestingStatusId == 2">В процессе</span>
                                        <span v-if="item.TestingStatusId == 5">Занял место</span>
                                        <span v-if="item.TestingStatusId == 3">Тест завершён</span>
                                    </div>
                                </div>
                                <div class="control-place" v-if="item.TestingProfileId">
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <br />
            </div>
    </div>
</div>
<script src="~/Content/Auditory/moderate1234.js"></script>