
@{
    ViewBag.Title = "Редактирование аудитории";
}
<script src="~/Content/aes.js"></script>
<link href="~/Content/Auditory/index.css?1" rel="stylesheet" />
<div id="main-window">

    <div class="container auditory row">
        <div class="container computer-list">
            <div class="auditory-header">
                Аудитория {{auditoryName}} <span v-if="NeedPin" title="Необходимо сконфигурировать аудиторию"><i class="fa fa-key"></i></span>
            </div>
            <div class="place-table">
                <div v-for="i in maxX+1" class="place-row row">
                    <div v-for="item in filterComps(i-1)" class="col">
                        <div class="place-item" v-on:click="select(item.Id)" v-bind:class="isSelected(item)" :title="item.Name">
                            <span class="name">
                                {{item.Name}}
                                <br />
                                <span v-if="item.PIN && item.PIN != 0" class="pin">{{item.PIN}}</span>
                            </span>
                            <div v-if="!item.IsNeedPlaceConfig" class="configured">
                                <img src="~/Files/svg/mini-check-auditory.svg" width="22" height="22" />
                            </div>
                            <div class="delete" title="Удалить место" v-on:click="deletePlace(item.Id)" v-if="!item.Deleted">
                                <img src="~/Files/svg/mini-times-auditory.svg" />
                            </div>
                            <div class="delete restore" title="Восстановить место" v-on:click="deletePlace(item.Id)" v-if="item.Deleted">
                                <img src="~/Files/svg/mini-restore-auditory.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <button class="btn-gray save-btn" v-on:click="saveChanges()">Сохранить</button>
        </div>
        <div class="control">
            <ul>
                <template v-if="!selectedComp.Id">
                    <li v-on:click="addRow()">Добавить ряд</li>
                    <li v-on:click="addColumn()">Добавить столбец</li>
                </template>
                <template v-if="selectedComp.Id">
                    <li v-on:click="stopP()">Переименовать место</li>
                    <li v-on:click="setIpConfig()" v-if="selectedComp.IsNeedPlaceConfig">Закрепить место</li>
                    <li v-on:click="resetIpConfig()" v-if="!selectedComp.IsNeedPlaceConfig">Сбросить место</li>
                    <li v-on:click="setSwapFlag()">Переместить место</li>
                    @*<li v-on:click="deletePlace()"><span v-if="selectedComp.Deleted">Восстановить</span><span v-if="!selectedComp.Deleted">Удалить</span> место</li>*@
                </template>
                <template v-if="!selectedComp.Id">
                    <li data-toggle="modal" data-target="#availableModal">Заполнить аудиторию</li>
                    <li v-if="NeedPin" v-on:click="generateConfiguration()">Сконфигурировать аудиторию</li>
                </template>
            </ul>
        </div>
    </div>




    <div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label">Переименовать элемент</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="form-control col-12" type="text" v-model="selectedComp.Name" id="rename-input" autofocus />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" v-on:click="rename()" data-dismiss="modal">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="availableModal" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label">Быстрая конфигурация</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img />
                    <label>
                        <input type="radio" v-model="fastModel.position" value="1" />
                        Своя
                    </label>
                    <label>
                        <input type="radio" v-model="fastModel.position" value="2" />
                        Пустой квадратик
                    </label>
                    <label>
                        <input type="radio" v-model="fastModel.position" value="3" />
                        Рельсы
                    </label>
                    <input type="number" max="100" min="0" v-model="fastModel.count" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" v-on:click="buildAuditory()" data-dismiss="modal">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="toast fade hide" id="toast-exist" data-delay="5000" style="position: absolute; top: 120px; right: 7px">
        <div class="toast-header">
            <strong class="mr-auto">Ошибка!</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Место с таким названием уже существует. Пожалуйста, попробуйте другое
        </div>
    </div>
</div>

<script src="~/Content/Auditory/audVue.js?2"></script>
