<link href="~/Content/Auditory/moderate.css?5" rel="stylesheet" />

<div id="main-window">
    <div class="auditory-header">
        {{switchLocal(1)}} {{auditoryName}}
    </div>
    @*<div class="control-wrapper" v-if="artArray.indexOf(auditory) != -1">
        <button v-for="i in (fullComputerList.length / 50)" v-on:click="setOffset(i)">{{i}}</button>
    </div>*@
    <div class="auditory row">
        <div class="computer-list" v-loader="auditoryLoader">
            <div class="place-table">
                <div v-for="i in maxX+1" class="place-row row">
                    <div v-for="item in filterComps(i-1)" class="col">
                        <div class="place-item" :title="item.Name" :class="{'request': item.RequestReset && item.TestingProfileId }" v-if="item.Name">
                            <div class="video-wrapper" v-if="item.TestingProfileId">
                                <video autoplay v-bind:id="'video-' + item.TestingProfileId + '-1'" muted class="video-camera"></video>
                                <video autoplay v-bind:id="'video-' + item.TestingProfileId + '-2'" muted class="video-screen"></video>
                                <div class="delete" title="Заменить" v-on:click="switchVideo('video-' + item.TestingProfileId)" v-if="!item.Deleted">
                                    <i class="fa fa-sync-alt"></i>
                                </div>
                                @*<img v-bind:id="'img-' + item.TestingProfileId" />*@
                            </div>
                            <div class="empty-wrapper" v-if="!item.TestingProfileId">
                                <div class="empty-info">
                                    <div class="empty-item" v-if="!item.IsUsed">Свободно</div>
                                    <div class="empty-item" v-if="item.IsUsed">Занято</div>
                                </div>
                                <div class="control-reset" v-if="item.IsUsed"><span v-on:click="resetIpConfig(item)"><i class="fa fa-power-off"></i></span></div>
                            </div>
                            <div class="info-wrapper">
                                <div class="place-info">
                                    <div class="place-name">{{item.Name}}</div>
                                    <div class="user-name" v-if="item.TestingProfileId" v-on:click="consoleUser(item)" v-on:dblclick="resetUser(item)">({{item.LastName}} {{item.FirstName}} {{item.MiddleName}})</div>
                                    <div class="user-name">
                                        <span v-if="item.TestingStatusId == 2">В процессе</span>
                                        <span v-if="item.TestingStatusId == 5">Занял место</span>
                                        <span v-if="item.TestingStatusId == 3">Тест завершён</span>
                                    </div>
                                </div>
                                <div class="control-place" v-if="item.TestingProfileId">
                                    <button class="chat-open" v-on:click="select(item.TestingProfileId)" v-if="item.chat">
                                        <i class="fa fa-keyboard"></i>
                                        <div class="chat-unread-wrapper" v-if="item.chat.unreadCount > 0">
                                            <span>
                                                {{item.chat.unreadCount}}
                                            </span>
                                        </div>
                                        <div class="chat-msg-wrapper" v-if="item.chat.messages.length > 0">
                                            <span>
                                            </span>
                                        </div>
                                    </button>
                                    <button class="open-full" v-on:click="openFull(item)">
                                        <img src="~/Files/svg/zoom-in-auditory.svg" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
    <div class="left-schedule">
        <div class="wrapper">
            <div v-on:click="openSchedule" class="button"><span><i class="fa fa-calendar-alt"></i></span></div>
        </div>
    </div>
    <div class="control-wrapper" v-if="isSuperAdmin">
        <div class="control">
            <ul>
                <li v-on:click="openModal()">{{switchLocal(10)}}</li>
                <li v-on:click="download(1)">Скачать</li>
            </ul>
        </div>
    </div>
    <div id="full-chat-wrapper" v-bind:class="{'opened': isChatOpened}">
        <div class="chat-panel">
            <span class="user-info">{{findInfoForChat()}}</span>
            <span v-on:click="openFull()" class="toggler-type"><i class="fa fa-video-camera"></i></span>
            <span v-on:click="toggleChat(currentChat.testingProfileId)" class="close-btn"><i class="fa fa-times"></i></span>
        </div>
        <div class="text-chat-wrapper" v-if="currentChat && currentChat.IsChatMOpened">
            <ul class="chat-wrapper">
                <li v-for="message in currentChat.messages" class="chat-message-wrapper" v-bind:class="{'sender': isMe(message)}" v-bind:id="'message-' + message.Id">
                    <div class="chat-message"><div class="message-text">{{message.Message}}</div><div class="message-date">{{getDateFormat(message.Date)}}</div></div>
                    <br />
                </li>
            </ul>
            <div class="send-message-wrapper">
                <div class="message-input"><textarea v-model="currentChat.Message" v-on:focus="subscribeEnter"></textarea><button v-on:click="sendMessage"><span class="text"></span><span class="fa fa-send"></span></button></div>
            </div>
            <div class="participant-list-wrapper" v-if="currentChat.isChatVOpened">
                <div class="participant-wrapper" v-for="participant in currentChat.participants">
                    <span class="avatar"></span><span class="participant-name">{{participant.Name}}</span><span class="micro-toggle"></span><span class="video-toggle"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="title">{{switchLocal(11)}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="selection">
                        <select class="form-control" v-model="currentStatus"> <option v-for="item of statuses" v-bind:value="item.Id">{{item.Name}}</option></select>
                        <input class="form-control" type="date" v-model="currentDate" />
                        <div><button v-on:click="getUserList()" v-bind:disabled="!currentDate || currentStatus == -1">Отфильтровать</button></div>
                    </div>
                    <div class="selection">
                        <div><button v-on:click="sendReload()">Перезагрузить</button></div>
                        <div><button v-on:click="ResetServer()">Сбросить сервер</button></div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="schedule" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="title">График ВИ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="selection">
                        <div class="input-wrapper">
                            <input type="date" v-model="currentDate" class="form-control" />
                            <div v-on:click="filterSchedule" class="button">Найти</div>
                            <div v-on:click="loadPeople" class="button">Загрузить людей в базу</div>
                        </div>
                        <div v-loader="loadObject">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td v-for="item in times">{{item.Name}}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item1 in filteredPlaceList">
                                        <td>{{item1}}</td>
                                        <td v-for="item in times"><div v-for="place in filterScheduleUsers(item1)" v-if="item.Id == place.TestingTime" v-bind:title="place.LastName +' ' + place.Discipline" class="item" v-on:click="consolePlace(place)">{{place.Score}}</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="user-info-wrapper" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" v-if="currentUser">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="title">{{currentUser.Name}} - {{currentUser.LastName}} {{currentUser.FirstName}} {{currentUser.MiddleName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table v-if="fullInfo">
                        <thead></thead>
                        <tbody>
                            <tr v-for="test in fullInfo.tests">
                                <td>{{test.FullName}}</td>
                                <td>{{test.Discipline}}</td>
                                <td>{{test.Status}}</td>
                                <td><button class="reload btn btn-secondary" v-on:click="resetTest(test.TestingProfileId)" v-if="isSuperAdmin" title="Сбросить тест"><i class="fa fa-retweet"></i></button></td>
                                <td> <button class="reload btn btn-secondary" v-on:click="finishTest(test.TestingProfileId)" v-if="isSuperAdmin" title="завершить тест"><i class="fa fa-check"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{switchLocal(9)}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="full-wrapper" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" v-if="currentUser">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="title">{{currentUser.Name}} - {{currentUser.LastName}} {{currentUser.FirstName}} {{currentUser.MiddleName}} ({{showTimeLeft()}})</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="video-list-wrapper">
                        <div class="videos-wrapper">
                            <video id="full-video-camera" autoplay muted controls></video>
                            <video id="full-video-screen" autoplay muted controls></video>
                        </div>
                        <div class="photo-wrapper">
                            <img id="full-video-photo" v-bind:src="'data:image/png;base64, ' + currentUser.Image" width="280" />
                        </div>
                    </div>
                    <div v-if="currentUser.errors.length > 0">
                        {{switchLocal(2)}}
                        <span class="tip" data-placement="right" :title="tipError()" data-toggle="tooltip"><i class="fa fa-question-circle"></i></span>
                    </div>
                    <div v-if="shownError" class="select-error">
                        <select v-model="currentError" class="form-control"><option :value="err.Id" v-for="err in errorTypes">{{err.Name}}</option></select>
                        <button v-on:click="sendError" class="save-error">{{switchLocal(3)}}</button>
                    </div>
                    <button class="add-error" v-on:click="showError()" v-if="currentUser.TestingStatusId == 2">{{switchLocal(4)}}</button>

                    <button class="pause-btn" v-on:click="togglePause()" v-if="currentUser.TestingStatusId == 2"><div v-if="!currentUser.IsPause">{{switchLocal(6)}}</div><div v-if="currentUser.IsPause">{{switchLocal(7)}}</div></button>
                    <button class="verify-user" v-on:click="verifyUser(false)">{{switchLocal(12)}}</button>
                    <button class="verify-user" v-on:click="verifyUser(true)">{{switchLocal(13)}}</button>
                    <button class="resetConfig" v-on:click="finishTest()" v-if="currentUser.TestingStatusId == 2">{{switchLocal(5)}}</button>
                    <button class="finish-test" v-on:click="resetPlace()">{{switchLocal(8)}}</button>
                    <button class="reconnect" v-on:click="reconnect1()" v-if="currentUser.TestingStatusId == 2">{{switchLocal(14)}}</button>
                    <button class="reconnect" v-on:click="reconnect2()" v-if="currentUser.TestingStatusId == 2">{{switchLocal(15)}}</button>
                    <button class="reload" v-on:click="sendReload(currentUser.TestingProfileId)" v-if="isSuperAdmin && currentUser.TestingStatusId == 2">Перезагрузить</button>
                    @*<button class="reload" v-on:click="deletePreliminary(currentUser.TestingProfileId)" v-if="isSuperAdmin" title="Удалить пробные"><i class="fa fa-times"></i></button>*@
                    <button class="reload" data-dismiss="full-wrapper" v-on:click="getInfoForAdmin()" v-if="isSuperAdmin" title="Открыть"><i class="fa fa-folder-open"></i></button>
                    <button class="reload" v-on:click="collapseVideo()" v-if="isSuperAdmin" title="Открыть"><i class="fa fa-minus-square"></i></button>
                    <button class="reload" v-on:click="toggleUserChat()" v-if="isSuperAdmin" title="открыть его чат"><i class="fa fa-comment-dots"></i></button>

                    @*<button class="finish-test" v-on:click="download(1)">Скачать 1</button>
                        <button class="finish-test" v-on:click="download(2)">Скачать 2</button>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{switchLocal(9)}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/Auditory/moderate.js?10"></script>