<link href="~/Content/Auditory/moderate.css" rel="stylesheet" />

<div id="main-window">
    <video id="video"  autoplay="autoplay"></video>
    <button v-on:click="stop()">Стоп</button>
</div>
<script src="~/Content/Auditory/moderate.js"></script>