<link href="~/Content/Auditory/moderate.css" rel="stylesheet" />

@{
    ViewBag.Title = "Администрирование аудитории";
}

<div id="main-window">
    <div class="auditory-header">
        {{switchLocal(1)}} {{auditoryName}}
    </div>
    @*<div class="control-wrapper" v-if="artArray.indexOf(auditory) != -1">
        <button v-for="i in (fullComputerList.length / 50)" v-on:click="setOffset(i)">{{i}}</button>
    </div>*@
    <div class="auditory row">
        <div class="computer-list">
            <div class="place-table">
                <div v-for="i in maxX+1" class="place-row row">
                    <div v-for="item in filterComps(i-1)" class="col">
                        <div class="place-item" :title="item.Name" :class="{'request': item.RequestReset && item.TestingProfileId }" v-if="item.Name">
                            <div class="video-wrapper" v-if="item.TestingProfileId">
                                <video autoplay v-bind:id="'video-' + item.TestingProfileId + '-1'" muted class="video-camera"></video>
                                <video autoplay v-bind:id="'video-' + item.TestingProfileId + '-2'" muted class="video-screen"></video>
                                <div class="delete" title="Заменить" v-on:click="switchVideo('video-' + item.TestingProfileId)" v-if="!item.Deleted">
                                    <i class="fa fa-sync-alt"></i>
                                </div>
                                @*<img v-bind:id="'img-' + item.TestingProfileId" />*@
                            </div>
                            <div class="empty-wrapper" v-if="!item.TestingProfileId">
                                <div class="empty-info">
                                    <div class="empty-item" v-if="!item.IsUsed">Свободно</div>
                                    <div class="empty-item" v-if="item.IsUsed">Занято</div>
                                </div>
                                <div class="control-reset" v-if="item.IsUsed"><span v-on:click="resetIpConfig(item)"><i class="fa fa-power-off"></i></span></div>
                            </div>
                            <div class="info-wrapper">
                                <div class="place-info">
                                    <div class="place-name">{{item.Name}}</div>
                                    <div class="user-name" v-if="item.TestingProfileId" v-on:click="consoleUser(item)" v-on:dblclick="resetUser(item)">({{item.LastName}} {{item.FirstName}} {{item.MiddleName}})</div>
                                    <div class="user-name">
                                        <span v-if="item.TestingStatusId == 2">В процессе</span>
                                        <span v-if="item.TestingStatusId == 5">Занял место</span>
                                        <span v-if="item.TestingStatusId == 3">Тест завершён</span>
                                    </div>
                                </div>
                                <div class="control-place" v-if="item.TestingProfileId">
                                    <button class="chat-open" v-on:click="select(item.TestingProfileId)" v-if="item.chat">
                                        <i class="fa fa-keyboard"></i>
                                        <div class="chat-unread-wrapper" v-if="item.chat.unreadCount > 0">
                                            <span>
                                                {{item.chat.unreadCount}}
                                            </span>
                                        </div>
                                    </button>
                                    <button class="open-full" v-on:click="openFull(item)">
                                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M24.1617 22.505L20.195 18.55C21.4748 16.9195 22.1692 14.9061 22.1667 12.8333C22.1667 10.9874 21.6193 9.18287 20.5937 7.64801C19.5682 6.11316 18.1105 4.91688 16.405 4.21046C14.6996 3.50404 12.823 3.31921 11.0125 3.67934C9.20201 4.03947 7.53896 4.92838 6.23367 6.23367C4.92838 7.53896 4.03947 9.202 3.67934 11.0125C3.31921 12.823 3.50404 14.6996 4.21046 16.405C4.91688 18.1105 6.11316 19.5682 7.64802 20.5937C9.18287 21.6193 10.9874 22.1667 12.8333 22.1667C14.9061 22.1692 16.9195 21.4748 18.55 20.195L22.505 24.1617C22.6135 24.271 22.7425 24.3578 22.8847 24.417C23.0268 24.4763 23.1793 24.5068 23.3333 24.5068C23.4874 24.5068 23.6398 24.4763 23.782 24.417C23.9242 24.3578 24.0532 24.271 24.1617 24.1617C24.271 24.0532 24.3578 23.9242 24.417 23.782C24.4763 23.6398 24.5068 23.4873 24.5068 23.3333C24.5068 23.1793 24.4763 23.0268 24.417 22.8847C24.3578 22.7425 24.271 22.6135 24.1617 22.505ZM5.83334 12.8333C5.83334 11.4489 6.24388 10.0955 7.01305 8.94435C7.78222 7.7932 8.87547 6.89599 10.1546 6.36618C11.4336 5.83637 12.8411 5.69774 14.199 5.96784C15.5568 6.23794 16.8041 6.90462 17.7831 7.88359C18.7621 8.86256 19.4287 10.1098 19.6988 11.4677C19.9689 12.8256 19.8303 14.233 19.3005 15.5121C18.7707 16.7912 17.8735 17.8845 16.7223 18.6536C15.5712 19.4228 14.2178 19.8333 12.8333 19.8333C10.9768 19.8333 9.19634 19.0958 7.88359 17.7831C6.57084 16.4703 5.83334 14.6899 5.83334 12.8333Z" fill="white" />
                                            <path d="M15.1663 11.6667H13.9997V10.5C13.9997 10.1906 13.8768 9.89388 13.658 9.67508C13.4392 9.45629 13.1424 9.33337 12.833 9.33337C12.5236 9.33337 12.2268 9.45629 12.008 9.67508C11.7893 9.89388 11.6663 10.1906 11.6663 10.5V11.6667H10.4997C10.1903 11.6667 9.89351 11.7896 9.67472 12.0084C9.45592 12.2272 9.33301 12.524 9.33301 12.8334C9.33301 13.1428 9.45592 13.4395 9.67472 13.6583C9.89351 13.8771 10.1903 14 10.4997 14H11.6663V15.1667C11.6663 15.4761 11.7893 15.7729 12.008 15.9917C12.2268 16.2105 12.5236 16.3334 12.833 16.3334C13.1424 16.3334 13.4392 16.2105 13.658 15.9917C13.8768 15.7729 13.9997 15.4761 13.9997 15.1667V14H15.1663C15.4758 14 15.7725 13.8771 15.9913 13.6583C16.2101 13.4395 16.333 13.1428 16.333 12.8334C16.333 12.524 16.2101 12.2272 15.9913 12.0084C15.7725 11.7896 15.4758 11.6667 15.1663 11.6667Z" fill="white" />
                                        </svg>

                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
    <div class="left-schedule">
        <div class="wrapper">
            <div v-on:click="openSchedule" class="button"><span><i class="fa fa-calendar-alt"></i></span></div>
        </div>
    </div>
    <div class="control-wrapper" v-if="isSuperAdmin">
        <div class="control">
            <ul>
                <li v-on:click="openModal()">{{switchLocal(10)}}</li>
                <li v-on:click="download(1)">Скачать</li>
            </ul>
        </div>
    </div>
    <div id="full-chat-wrapper" v-bind:class="{'opened': isChatOpened}">
        <div class="chat-panel">
            <span class="user-info">{{findInfoForChat()}}</span>
            <span v-on:click="openFull()" class="toggler-type"><i class="fa fa-video-camera"></i></span>
            <span v-on:click="toggleChat(currentChat.testingProfileId)" class="close-btn"><i class="fa fa-times"></i></span>
        </div>
        <div class="text-chat-wrapper" v-if="currentChat && currentChat.IsChatMOpened">
            <ul class="chat-wrapper">
                <li v-for="message in currentChat.messages" class="chat-message-wrapper" v-bind:class="{'sender': isMe(message)}" v-bind:id="'message-' + message.Id">
                    <div class="chat-message"><div class="message-text">{{message.Message}}</div><div class="message-date">{{getDateFormat(message.Date)}}</div></div>
                    <br />
                </li>
            </ul>
            <div class="send-message-wrapper">
                <div class="message-input"><textarea v-model="currentChat.Message" v-on:focus="subscribeEnter"></textarea><button v-on:click="sendMessage"><span class="text"></span><span class="fa fa-send"></span></button></div>
            </div>
            <div class="participant-list-wrapper" v-if="currentChat.isChatVOpened">
                <div class="participant-wrapper" v-for="participant in currentChat.participants">
                    <span class="avatar"></span><span class="participant-name">{{participant.Name}}</span><span class="micro-toggle"></span><span class="video-toggle"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="title">{{switchLocal(11)}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="selection">
                        <select class="form-control" v-model="currentStatus"> <option v-for="item of statuses" v-bind:value="item.Id">{{item.Name}}</option></select>
                        <input class="form-control" type="date" v-model="currentDate" />
                        <div><button v-on:click="getUserList()" v-bind:disabled="!currentDate || currentStatus == -1">Отфильтровать</button></div>
                    </div>
                    <div class="selection">
                        <div><button v-on:click="sendReload()">Перезагрузить</button></div>
                        <div><button v-on:click="ResetServer()">Сбросить сервер</button></div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="schedule" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="title">График ВИ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="selection">
                        <div class="input-wrapper">
                            <input type="date" v-model="currentDate" class="form-control" />
                            <div v-on:click="filterSchedule" class="button">Найти</div>
                            <div v-on:click="loadPeople" class="button">Загрузить людей в базу</div>
                        </div>
                        <div v-loader="loadObject">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td v-for="item in times">{{item.Name}}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item1 in filteredPlaceList">
                                        <td>{{item1}}</td>
                                        <td v-for="item in times"><div v-for="place in filterScheduleUsers(item1)" v-if="item.Id == place.TestingTime" v-bind:title="place.LastName +' ' + place.Discipline" class="item" v-on:click="consolePlace(place)">{{place.Score}}</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="user-info-wrapper" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" v-if="currentUser">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="title">{{currentUser.Name}} - {{currentUser.LastName}} {{currentUser.FirstName}} {{currentUser.MiddleName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table v-if="fullInfo">
                        <thead></thead>
                        <tbody>
                            <tr v-for="test in fullInfo.tests">
                                <td>{{test.FullName}}</td>
                                <td>{{test.Discipline}}</td>
                                <td>{{test.Status}}</td>
                                <td><button class="reload" v-on:click="resetTest(test.TestingProfileId)" v-if="isSuperAdmin" title="Сбросить тест"><i class="fa fa-retweet"></i></button></td>
                                <td> <button class="reload" v-on:click="finishTest(test.TestingProfileId)" v-if="isSuperAdmin" title="завершить тест"><i class="fa fa-check"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{switchLocal(9)}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="full-wrapper" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" v-if="currentUser">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="title">{{currentUser.Name}} - {{currentUser.LastName}} {{currentUser.FirstName}} {{currentUser.MiddleName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="video-list-wrapper">
                        <div class="videos-wrapper">
                            <video id="full-video-camera" autoplay muted controls></video>
                            <video id="full-video-screen" autoplay muted controls></video>
                        </div>
                        <div class="photo-wrapper">
                            <img id="full-video-photo" v-bind:src="'data:image/png;base64, ' + currentUser.Image" width="280" />
                        </div>
                    </div>
                    <div v-if="currentUser.errors.length > 0">
                        {{switchLocal(2)}}
                        <span class="tip" data-placement="right" :title="tipError()" data-toggle="tooltip"><i class="fa fa-question-circle"></i></span>
                    </div>
                    <div v-if="shownError" class="select-error">
                        <select v-model="currentError" class="form-control"><option :value="err.Id" v-for="err in errorTypes">{{err.Name}}</option></select>
                        <button v-on:click="sendError" class="save-error">{{switchLocal(3)}}</button>
                    </div>
                    <button class="add-error" v-on:click="showError()">{{switchLocal(4)}}</button>

                    <button class="pause-btn" v-on:click="togglePause()"><div v-if="!currentUser.IsPause">{{switchLocal(6)}}</div><div v-if="currentUser.IsPause">{{switchLocal(7)}}</div></button>
                    <button class="verify-user" v-on:click="verifyUser(false)">{{switchLocal(12)}}</button>
                    <button class="verify-user" v-on:click="verifyUser(true)">{{switchLocal(13)}}</button>
                    <button class="resetConfig" v-on:click="finishTest()">{{switchLocal(5)}}</button>
                    <button class="finish-test" v-on:click="resetPlace()">{{switchLocal(8)}}</button>
                    <button class="reconnect" v-on:click="reconnect()">{{switchLocal(14)}}</button>
                    <button class="reload" v-on:click="sendReload(currentUser.TestingProfileId)" v-if="isSuperAdmin">Перезагрузить</button>
                    <button class="reload" v-on:click="deletePreliminary(currentUser.TestingProfileId)" v-if="isSuperAdmin" title="Удалить пробные"><i class="fa fa-times"></i></button>
                    <button class="reload" data-dismiss="full-wrapper" v-on:click="getInfoForAdmin()" v-if="isSuperAdmin" title="Открыть"><i class="fa fa-folder-open"></i></button>

                    @*<button class="finish-test" v-on:click="download(1)">Скачать 1</button>
                        <button class="finish-test" v-on:click="download(2)">Скачать 2</button>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{switchLocal(9)}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/Auditory/moderate1237.js"></script>