<link href="~/Content/Shared/Notify.css" rel="stylesheet" />

<section class="kernel-system" id="notification-wrapper">
    <div class="kernel-system-notifications-overlay">
        <div class="kernel-system-notifications-wrapper">
            @* <div class="notification-wrapper" ng-repeat="message in notification.messages" ng-class="['type-' + message.source.Type, {'with-code': message.source.Code}, message.class]">
                    <div class="notification">
                        <div class="code" ng-if="message.source.Code">{{message.source.Code}}</div>
                        <div class="body">{{message.source.Body}}</div>
                        <div class="remove"><i class="fa fa-times-circle" aria-hidden="true" ng-click="message.remove()"></i></div>

                    </div>
                </div>*@
        </div>

    </div>
</section>
<script src="~/Content/Shared/Notify.js"></script>