<link href="~/Content/Shared/Notify.css?1" rel="stylesheet" />

<section class="kernel-system" id="notification-wrapper">
    <div class="kernel-system-notifications-overlay">
        <div class="kernel-system-notifications-wrapper">
        </div>

    </div>
</section>
<script src="~/Content/Shared/Notify.js?1"></script>