.question-wrapper img {
  max-width: 1024px;
}
.answer-list {
  margin-top: 45px;
}
.answer-list .answer-wrapper {
  display: flex;
  margin-bottom: 20px;
}
.answer-list .answer-wrapper .option-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.answer-list .answer-wrapper .option-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.answer-list .answer-wrapper .option-container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.answer-list .answer-wrapper .option-container input:checked ~ .checkmark:after {
  display: block;
}
.answer-list .answer-wrapper .option-container.double .checkmark {
  top: 29%;
}
.answer-list .answer-wrapper .option-container.triple .checkmark {
  top: 35%;
}
.answer-list .answer-wrapper .option-container .checkmark {
  position: absolute;
  top: 12%;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.answer-list .answer-wrapper .option-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 11px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.answer-list .answer-wrapper .option-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.answer-list .answer-wrapper img {
  max-width: 966px;
}
.answer-list .answer-wrapper .option-rb-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.answer-list .answer-wrapper .option-rb-container.double .checkmark {
  top: 25%;
}
.answer-list .answer-wrapper .option-rb-container.triple .checkmark {
  top: 35%;
}
.answer-list .answer-wrapper .option-rb-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  border: 3px solid #A6ACBC;
  top: 20%;
}
.answer-list .answer-wrapper .option-rb-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 4px;
  left: 4px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #2196f3;
}
.answer-list .answer-wrapper .option-rb-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.answer-list .answer-wrapper .option-rb-container input:checked ~ .checkmark {
  border-color: #2196f3;
}
.answer-list .answer-wrapper .option-rb-container input:checked ~ .checkmark:after {
  display: block;
}
.answer-list .answer-wrapper .textarea-wrapper {
  width: 1024px;
}
.answer-list .answer-wrapper .textarea-wrapper div {
  white-space: pre;
  border: 1px solid #ddd;
}
.question-pagination {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.question-pagination .page {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  text-align: center;
  padding: 2px;
  font-family: Montserrat;
  font-weight: 600;
  color: #fff;
  margin-right: 5px;
  background: #A6ACBC;
  cursor: pointer;
}
.question-pagination .page.active {
  background: rgba(86, 92, 114, 0.8);
}
.question-pagination .page.answered:before {
  content: "";
  display: block;
  position: absolute;
  /*top: 0;*/
  width: 12px;
  height: 12px;
  border: 6px solid transparent;
  border-left: 6px solid #000;
  border-top: 6px solid #000;
  border-left-color: #1D80D6;
  border-top-color: #1D80D6;
}
.question-pagination .page.disabled {
  cursor: default;
  opacity: 0.7;
}
.question-pagination .page-last {
  width: 60px;
  height: 30px;
  border-radius: 3px;
  text-align: center;
  padding: 2px;
  font-family: Montserrat;
  font-weight: 600;
  color: #fff;
  margin-right: 5px;
  background: #A6ACBC;
  cursor: pointer;
}
.summary-student {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  color: #A6ACBC;
  margin-top: 70px;
  margin-bottom: 20px;
}
.summary-student span {
  margin-right: 10px;
}
.summary-student span .fa {
  font-weight: initial !important;
}
.proctoring-window {
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-flow: column;
}
.proctoring-window .context-info {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}
.proctoring-window .student-list-wrapper {
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: column;
  width: 600px;
  margin-top: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #565C72;
}
.proctoring-window .student-list-wrapper .student-wrapper {
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
  line-height: 60px;
}
.proctoring-window .student-list-wrapper .student-wrapper:nth-child(even) {
  background: #fafafa;
}
.proctoring-window .student-list-wrapper .student-wrapper:hover {
  background: #f2f2f2;
}
.verify-wrapper {
  border: 1px solid #ddd;
  padding: 40px;
  box-shadow: #a2a2a2 0px 3px 4px;
  border-top: none;
  background-color: #fff;
}
.verify-wrapper .panel-bottom {
  display: flex;
}
.verify-wrapper .rating-info-wrapper {
  width: 150px;
  margin-right: 48px;
}
.verify-wrapper .rating-info-wrapper .span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
}
.verify-wrapper .rating-info-wrapper input {
  text-align: end;
}
.verify-wrapper .rating-info-wrapper input::-webkit-outer-spin-button,
.verify-wrapper .rating-info-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.verify-wrapper .rating-info-wrapper input[type='number'] {
  -moz-appearance: textfield;
}
.verify-wrapper .rating-info-wrapper button {
  background: #6ECC24;
  border: 1px solid #3DCC5D;
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 10px;
  height: 30px;
  width: 100%;
}
.verify-wrapper .user-list-wrapper .span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  max-width: 700px;
}
.verify-wrapper .user-list-wrapper .user-list {
  display: flex;
  overflow: auto;
}
.verify-wrapper .user-list-wrapper .user-list .user-wrapper {
  padding: 5px;
  width: 200px;
  height: 100px;
}
.verify-wrapper .user-list-wrapper .user-list .user-wrapper:not(:first-child) {
  border-left: 1px solid #ddd;
}
.verify-wrapper .user-list-wrapper .user-list .user-wrapper .top {
  height: 75px;
}
.verify-wrapper .user-list-wrapper .user-list .user-wrapper .top .user-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
.verify-wrapper .user-list-wrapper .user-list .user-wrapper .top .user-role {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.verify-wrapper .user-list-wrapper .user-list .user-wrapper .score-wrapper {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  /* or 100% */
  color: #000000;
}
.summary-wrapper .table {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  color: #000000;
}
.summary-wrapper .rating-info-wrapper {
  width: 280px;
}
.summary-wrapper .rating-info-wrapper .span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
}
.summary-wrapper .rating-info-wrapper input {
  text-align: end;
}
.summary-wrapper .rating-info-wrapper input::-webkit-outer-spin-button,
.summary-wrapper .rating-info-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.summary-wrapper .rating-info-wrapper input[type='number'] {
  -moz-appearance: textfield;
}
.summary-wrapper .rating-info-wrapper button {
  background: #6ECC24;
  border: 1px solid #3DCC5D;
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 10px;
  height: 30px;
  width: 100%;
}
.user-video-list-wrapper {
  position: fixed;
  bottom: 75px;
  right: 10%;
  border: 2px solid #4e4e4e;
  border-bottom: 0;
  border-radius: 5px;
}
.user-video-list-wrapper .control {
  height: 20px;
  text-align: end;
  background-color: #4e4e4e;
}
.user-video-list-wrapper .control .fa {
  color: #c4c4c4;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}
.user-video-list-wrapper .user-video-list {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}
.user-video-list-wrapper .user-video-list .user-wrapper {
  max-width: 152px;
}
.user-video-list-wrapper .user-video-list .user-wrapper .video-wrapper {
  width: 150px;
  height: 100px;
  border: 1px solid #ddd;
}
.user-video-list-wrapper .user-video-list .user-wrapper .video-wrapper video {
  width: 150px;
  height: 100px;
}
.full-chat-wrapper {
  position: absolute;
  top: 183px;
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;
}
.full-chat-wrapper .left-panel {
  width: 300px;
  background: #565c72;
  color: #fff;
  padding-top: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}
.full-chat-wrapper .left-panel .user-wrapper {
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  border-top: 1px solid #a6acbc;
  padding-left: 30px;
  cursor: pointer;
}
.full-chat-wrapper .left-panel .user-wrapper:last-child {
  border-bottom: 1px solid #a6acbc;
}
.full-chat-wrapper .left-panel .user-wrapper .user-status {
  font-size: 10px;
}
.full-chat-wrapper .main-panel {
  width: 100%;
  margin-left: 50px;
  padding-top: 42px;
}
.full-chat-wrapper .main-panel .user-list-wrapper {
  display: flex;
  width: 100%;
  background: #fff;
}
.full-chat-wrapper .main-panel .user-list-wrapper .user-name {
  width: 160px;
  display: flex;
  height: 32px;
  margin-right: 2px;
  background: #CACACA;
  color: #fff;
  padding-left: 20px;
  justify-content: space-between;
  padding-right: 3px;
  cursor: pointer;
  line-height: 32px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.full-chat-wrapper .main-panel .user-list-wrapper .user-name.active {
  background: #565c72;
}
.full-chat-wrapper .main-panel .message-list-wrapper {
  width: 70%;
  border: 2px solid #ddd;
  height: 60%;
  margin-bottom: 20px;
  min-width: 700px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: -1px;
  overflow-y: auto;
  padding-left: 50px;
  padding-right: 50px;
}
.full-chat-wrapper .main-panel .message-list-wrapper .message-wrapper {
  border: 1px solid #CACACA;
  background: #CACACA;
  margin: 5px;
  padding: 7px;
  border-radius: 3px;
  max-width: 400px;
  word-break: break-word;
  float: left;
  display: flex;
  clear: both;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}
.full-chat-wrapper .main-panel .message-list-wrapper .message-wrapper.me {
  border: 1px solid #A6ACBC;
  background: #A6ACBC;
  float: right;
}
.full-chat-wrapper .main-panel .message-list-wrapper .message-wrapper.me .message-date {
  font-size: 8px;
  line-height: 6px;
  float: left;
}
.full-chat-wrapper .main-panel .message-list-wrapper .message-wrapper .message-date {
  font-size: 8px;
  line-height: 6px;
  float: right;
  height: 10px;
}
.full-chat-wrapper .main-panel .message-list-wrapper .message-wrapper .message-control {
  cursor: pointer;
}
.full-chat-wrapper .main-panel .parent-msg {
  display: flex;
  justify-content: space-between;
  width: 70%;
  min-width: 700px;
  max-height: 50px;
  overflow: hidden;
}
.full-chat-wrapper .main-panel .parent-msg .fa {
  cursor: pointer;
}
.full-chat-wrapper .main-panel .answer-wrapper {
  width: 70%;
  min-width: 700px;
  border: 2px solid #ddd;
  border-radius: 3px;
  height: 9%;
  margin-bottom: 10px;
}
.full-chat-wrapper .main-panel .answer-wrapper textarea {
  resize: none;
  width: 100%;
  height: 100%;
}
.full-chat-wrapper .main-panel .btn-wrapper button {
  background: #1D80D6;
  border: 1px solid #1D80D6;
  box-sizing: border-box;
  border-radius: 2px;
  color: #fff;
}