.auditory {
    display: flex;
    margin-bottom: 40px;

    .btn-gray {
        width: 135px;
        height: 44px;
        color: #fff;
        background: #565c72;
        border: none;
    }

    .computer-list {
        border: 1px solid #ddd;
        margin-top: 80px;
        padding: 40px;
        box-shadow: #a2a2a2 0px 3px 4px;
        max-width: 650px;
        border-top: none;

        .auditory-header {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 16px;
            color: #565C72;
            text-align: center;
            margin-bottom: 40px;
        }


        .place-table {
            text-align: center;

            .place-row {

                .place-item {
                    cursor: pointer;
                    width: 60px;
                    height: 60px;
                    background: #a6acbc;
                    color: #fff;
                    font-size: 20px;
                    margin-bottom: 40px;
                    line-height: 2.5;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 900;

                    &.hasPin {
                        line-height: 1.5;

                        .configured {
                            top: -10px;
                        }

                        .configured ~ .delete {
                            top: -90px;
                        }

                        .delete {
                            top: -68px;
                        }
                    }

                    .name {
                        margin: auto;
                        overflow: hidden;

                        .pin {
                            font-size: 18px;
                            color: #565C72;
                        }
                    }

                    .configured {
                        background: #1d80d6;
                        border: 1px solid #1d80d6;
                        border-radius: 11px;
                        width: 22px;
                        height: 22px;
                        left: -8px;
                        position: relative;
                        top: -3px;

                        svg {
                            position: absolute;
                            left: 5px;
                            top: 5px;
                        }
                    }

                    .configured ~ .delete {
                        top: -83px;
                    }

                    &:hover {
                        .delete {
                            display: block;

                            &:hover {
                                transition: transform ease 0.4s;
                                transform: scale(1.2);
                            }
                        }
                    }

                    .delete {
                        display: none;
                        position: relative;
                        background: red;
                        width: 22px;
                        height: 22px;
                        border-radius: 11px;
                        left: 48px;
                        top: -60px;

                        &.restore {
                            background: #565c72;
                            svg{
                                left: 3px;
                            }
                        }


                        svg {
                            position: absolute;
                            left: 6px;
                            top: 5px;
                        }
                    }

                    &:hover {
                        color: #ddd;
                        /*background-color: #ddd;*/
                    }

                    &.selected {
                        box-shadow: -3px 4px 4px #6e6e6e;
                        color: #565c72;
                        /*outline: 1px solid #ff0000;*/
                    }

                    &.new:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        width: 16px;
                        height: 16px;
                        border: 8px solid transparent;
                        border-left: 8px solid #000;
                        border-top: 8px solid #000;
                        border-left-color: #28a745;
                        border-top-color: #28a745;
                    }

                    &.deleted:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        width: 16px;
                        height: 16px;
                        border: 8px solid transparent;
                        border-left: 8px solid #000;
                        border-top: 8px solid #000;
                        border-left-color: red;
                        border-top-color: red;
                    }
                }
            }
        }

        .save-btn {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 33px;
            margin-left: 232px;
            box-shadow: #c6c6c6 1px 3px 2px;
        }
    }

    .control {
        margin-top: 80px;
        width: 225px;
        height: max-content;
        background: #565c72;
        padding: 0;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                border-bottom: 1px solid #A6ACBC;
                min-height: 44px;
                max-height: 88px;
                color: #fff;
                margin: 0;
                padding-left: 20px;
                font-size: 16px;
                line-height: 33px;
                cursor: pointer;

                &:hover {
                    color: #ddd;
                }
            }
        }

        .btn {
            margin-bottom: 10px;
            width: 160px;
        }
    }
}

.main-window {
    @w-1: 230px;

    .auditory-header {
        margin-top: 30px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 16px;
        color: #565C72;
        text-align: center;
        margin-bottom: 40px;
    }

    .auditory-list {
        display: flex;
        flex-wrap: wrap;
        font-family: Montserrat;


        .auditory-wrapper {
            margin-right: 37px;
            margin-top: 40px;
            box-shadow: #a2a2a2 0px 3px 4px;
            width: @w-1;
            height: 310px;
            border-top: none;


            .video {
                outline: 1px solid #000;
                width: @w-1;
                height: 180px;
            }

            .title {
                height: 60px;
                padding: 10px;
                font-weight: bold;
                font-size: 20px;
            }

            .control {
                width: @w-1;
                height: 160px;

                .button-list {
                    display: flex;
                    padding: 5px 40px;
                }

                .gray-btn {
                    width: 55px;
                    height: 35px;
                    color: #fff;
                    background: #565c72;
                    border: none;
                }
            }

            .add-btn-wrapper {
                display: flex;
                height: 100%;

                svg {
                    margin: auto;
                }
            }
        }
    }

    .btn-gray {
        width: 135px;
        height: 44px;
        color: #fff;
        background: #565c72;
        border: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 33px;
        margin: 80px 0 0 500px;
        box-shadow: #c6c6c6 1px 3px 2px;
    }
}
