.auditory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.auditory .col {
  min-width: initial !important;
}
.auditory .btn-gray {
  width: 135px;
  height: 44px;
  color: #fff;
  background: #565c72;
  border: none;
}
.auditory .computer-list {
  border: 1px solid #ddd;
  margin-top: 80px;
  padding: 40px;
  -webkit-box-shadow: #a2a2a2 0px 3px 4px;
  box-shadow: #a2a2a2 0px 3px 4px;
  max-width: 650px;
  border-top: none;
  background: #eceef1;
}
.auditory .computer-list .auditory-header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: #565C72;
  text-align: center;
  margin-bottom: 40px;
}
.auditory .computer-list .place-table {
  text-align: center;
}
.auditory .computer-list .place-table .place-row .place-item {
  cursor: pointer;
  width: 60px;
  height: 60px;
  background: #a6acbc;
  color: #fff;
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 2.5;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  /*background-color: #ddd;*/
}
.auditory .computer-list .place-table .place-row .place-item.hasPin {
  line-height: 1.5;
}
.auditory .computer-list .place-table .place-row .place-item.hasPin .configured {
  top: -10px;
}
.auditory .computer-list .place-table .place-row .place-item.hasPin .configured ~ .delete {
  top: -90px;
}
.auditory .computer-list .place-table .place-row .place-item.hasPin .delete {
  top: -68px;
}
.auditory .computer-list .place-table .place-row .place-item .name {
  margin: auto;
  overflow: hidden;
}
.auditory .computer-list .place-table .place-row .place-item .name .pin {
  font-size: 18px;
  color: #565C72;
}
.auditory .computer-list .place-table .place-row .place-item .configured {
  background: #1d80d6;
  border: 1px solid #1d80d6;
  border-radius: 11px;
  width: 22px;
  height: 22px;
  left: -8px;
  position: relative;
  top: -3px;
  /* svg {
                            position: absolute;
                            left: 5px;
                            top: 5px;
                        }*/
}
.auditory .computer-list .place-table .place-row .place-item .configured img {
  position: absolute;
  left: 5px;
  top: 5px;
}
.auditory .computer-list .place-table .place-row .place-item .configured ~ .delete {
  top: -83px;
}
.auditory .computer-list .place-table .place-row .place-item:hover .delete {
  display: block;
}
.auditory .computer-list .place-table .place-row .place-item:hover .delete:hover {
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  -o-transition: transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.auditory .computer-list .place-table .place-row .place-item .delete {
  display: none;
  position: relative;
  background: red;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  left: 48px;
  top: -60px;
  /*
                        svg {
                            position: absolute;
                            left: 6px;
                            top: 5px;
                        }*/
}
.auditory .computer-list .place-table .place-row .place-item .delete.restore {
  background: #565c72;
  /* svg {
                                left: 3px;
                            }*/
}
.auditory .computer-list .place-table .place-row .place-item .delete.restore img {
  left: 3px;
}
.auditory .computer-list .place-table .place-row .place-item .delete img {
  position: absolute;
  left: 6px;
  top: 5px;
}
.auditory .computer-list .place-table .place-row .place-item.selected {
  -webkit-box-shadow: -3px 4px 4px #6e6e6e;
  box-shadow: -3px 4px 4px #6e6e6e;
  color: #565c72;
}
.auditory .computer-list .place-table .place-row .place-item.new:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border: 8px solid transparent;
  border-left: 8px solid #000;
  border-top: 8px solid #000;
  border-left-color: #28a745;
  border-top-color: #28a745;
}
.auditory .computer-list .place-table .place-row .place-item.current:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border: 8px solid transparent;
  border-left: 8px solid #000;
  border-top: 8px solid #000;
  border-left-color: #565c72;
  border-top-color: #565c72;
}
.auditory .computer-list .place-table .place-row .place-item:hover .configured ~ .delete {
  display: none;
}
.auditory .computer-list .place-table .place-row .place-item.deleted:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border: 8px solid transparent;
  border-left: 8px solid #000;
  border-top: 8px solid #000;
  border-left-color: red;
  border-top-color: red;
}
.auditory .computer-list .place-table .place-row .place-item.empty {
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
}
.auditory .computer-list .place-table .place-row .place-item.empty:hover {
  border: 1px solid #ddd;
  background-image: url(AddBtn.svg);
}
.auditory .computer-list .place-table .place-row .place-item.empty:hover .delete {
  display: none;
}
.auditory .computer-list .save-btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
  margin-left: 232px;
  -webkit-box-shadow: #c6c6c6 1px 3px 2px;
  box-shadow: #c6c6c6 1px 3px 2px;
}
.auditory .control {
  margin-top: 80px;
  width: 225px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: #565c72;
  padding: 0;
}
.auditory .control ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.auditory .control ul li {
  border-bottom: 1px solid #A6ACBC;
  min-height: 44px;
  max-height: 88px;
  color: #fff;
  margin: 0;
  padding-left: 20px;
  font-size: 16px;
  line-height: 33px;
  cursor: pointer;
}
.auditory .control ul li:hover {
  color: #ddd;
}
.auditory .control .btn {
  margin-bottom: 10px;
  width: 160px;
}
.main-window .auditory-header {
  margin-top: 70px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 16px;
  color: #565C72;
  text-align: center;
  margin-bottom: 40px;
}
.main-window .auditory-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: Montserrat;
}
.main-window .auditory-list .auditory-wrapper {
  margin-right: 37px;
  margin-top: 40px;
  -webkit-box-shadow: #a2a2a2 0px 3px 4px;
  box-shadow: #a2a2a2 0px 3px 4px;
  width: 230px;
  height: 330px;
  border-top: none;
  background: #fff;
}
@media (max-width: 600px) {
  .main-window .auditory-list .auditory-wrapper {
    margin: 10px auto;
  }
}
.main-window .auditory-list .auditory-wrapper .video-info-wrapper {
  outline: 1px solid #000;
  width: 230px;
  height: 180px;
  margin-bottom: 15px;
}
.main-window .auditory-list .auditory-wrapper .alter-wrapper {
  outline: 1px solid #000;
  width: 230px;
  height: 180px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}
.main-window .auditory-list .auditory-wrapper .alter-wrapper .alter {
  margin: auto;
}
.main-window .auditory-list .auditory-wrapper .title {
  height: 60px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
.main-window .auditory-list .auditory-wrapper .control {
  width: 230px;
  height: 160px;
}
.main-window .auditory-list .auditory-wrapper .control .button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 40px;
}
.main-window .auditory-list .auditory-wrapper .control .gray-btn {
  width: 55px;
  height: 35px;
  color: #fff;
  background: #565c72;
  border: none;
}
.main-window .auditory-list .auditory-wrapper .add-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.main-window .auditory-list .auditory-wrapper .add-btn-wrapper svg {
  margin: auto;
}
.main-window .auditory-list .auditory-wrapper:hover .delete {
  display: block;
}
.main-window .auditory-list .auditory-wrapper:hover .delete:hover {
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  -o-transition: transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.main-window .auditory-list .auditory-wrapper .delete {
  cursor: pointer;
  display: none;
  position: relative;
  background: red;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  left: 219px;
  top: -365px;
  /*svg {
                    position: absolute;
                    left: 6px;
                    top: 5px;
                }*/
}
.main-window .auditory-list .auditory-wrapper .delete.restore {
  background: #565c72;
  /* svg {
                        left: 3px;
                    }*/
}
.main-window .auditory-list .auditory-wrapper .delete.restore img {
  left: 3px;
}
.main-window .auditory-list .auditory-wrapper .delete img {
  position: absolute;
  left: 6px;
  top: 5px;
}
.main-window .btn-gray {
  width: 135px;
  height: 44px;
  color: #fff;
  background: #565c72;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
  margin: 80px 0 95px 45%;
  -webkit-box-shadow: #c6c6c6 1px 3px 2px;
  box-shadow: #c6c6c6 1px 3px 2px;
}
.toast {
  z-index: 7;
}