#video {
  position: absolute;
  width: 230px;
  height: 180px;
  border: 1px solid #ddd;
  top: 400px;
  left: 50px;
}
.auditory {
  display: flex;
  margin-bottom: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.auditory .btn-gray {
  width: 135px;
  height: 44px;
  color: #fff;
  background: #565c72;
  border: none;
}
.auditory .auditory-header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: #565C72;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}
.auditory .computer-list {
  border: 1px solid #ddd;
  margin-top: 80px;
  padding: 40px;
  overflow-y: auto;
  border-top: none;
  height: 600px;
}
.auditory .computer-list .place-table {
  text-align: center;
}
.auditory .computer-list .place-table .place-row .place-item {
  width: 180px;
  height: 240px;
  /*background: #a6acbc;*/
  /*color: #fff;*/
  margin-bottom: 40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /*background-color: #ddd;*/
}
.auditory .computer-list .place-table .place-row .place-item .video-wrapper {
  width: 180px;
  height: 130px;
  border-bottom: 1px solid #ddd;
}
.auditory .computer-list .place-table .place-row .place-item .info-wrapper {
  width: 180px;
  height: 110px;
}
.auditory .computer-list .place-table .place-row .place-item .info-wrapper .place-info {
  font-family: Montserrat;
  font-style: normal;
  color: #565C72;
  text-align: center;
  height: 55px;
}
.auditory .computer-list .place-table .place-row .place-item .info-wrapper .place-info .place-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.auditory .computer-list .place-table .place-row .place-item .info-wrapper .place-info .user-name {
  line-height: 10px;
  font-weight: 100;
  font-size: 8px;
}
.auditory .computer-list .place-table .place-row .place-item .info-wrapper .control {
  height: 55px;
  display: flex;
  justify-content: space-between;
}
.auditory .computer-list .place-table .place-row .place-item .info-wrapper .control button {
  background: #565C72;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 55px;
  height: 33px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  color: #fff;
}
.auditory .computer-list .place-table .place-row .place-item .info-wrapper .control button .fa {
  font-weight: 400 !important;
}
#full-chat-wrapper {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 100px;
  width: 300px;
  height: 600px;
  border: 1px solid #ddd;
  background-color: #fff;
}
#full-chat-wrapper.opened {
  display: block;
}
#full-chat-wrapper .chat-panel {
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ddd;
}
#full-chat-wrapper .chat-panel .close-btn {
  cursor: pointer;
}
#full-chat-wrapper .text-chat-wrapper {
  border-bottom: 1px solid #ddd;
  height: 560px;
}
#full-chat-wrapper .text-chat-wrapper .chat-wrapper {
  height: 450px;
  padding-left: 0;
  overflow: auto;
}
#full-chat-wrapper .text-chat-wrapper .chat-wrapper .chat-message-wrapper {
  border: 1px solid #ddd;
  margin: 5px;
  padding: 7px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
  max-width: 230px;
  word-break: break-word;
  float: left;
  display: flex;
  clear: both;
}
#full-chat-wrapper .text-chat-wrapper .chat-wrapper .chat-message-wrapper.sender {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
  float: right;
}
#full-chat-wrapper .text-chat-wrapper .chat-wrapper .chat-message-wrapper.sender .chat-message {
  text-align: end;
}
#full-chat-wrapper .text-chat-wrapper .chat-wrapper .chat-message-wrapper .chat-message {
  font-family: Montserrat;
  font-style: normal;
}
#full-chat-wrapper .text-chat-wrapper .chat-wrapper .chat-message-wrapper .chat-message .message-text {
  font-size: 16px;
  line-height: 20px;
}
#full-chat-wrapper .text-chat-wrapper .chat-wrapper .chat-message-wrapper .chat-message .message-date {
  font-size: 10px;
  float: right;
}
#full-chat-wrapper .text-chat-wrapper .send-message-wrapper {
  position: relative;
  height: 100px;
  bottom: 0;
}
#full-chat-wrapper .text-chat-wrapper .send-message-wrapper .message-input {
  width: 299px;
  display: block;
  padding: 5px;
}
#full-chat-wrapper .text-chat-wrapper .send-message-wrapper .message-input textarea {
  width: 322px;
  height: 65px;
  margin: 3px 5px 0 5px;
  resize: none;
}
#full-chat-wrapper .text-chat-wrapper .send-message-wrapper .message-input button {
  width: 299px;
  height: auto;
  display: block;
  margin: -5px;
  border: none;
  background: #A6ACBC;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 3px;*/
}
#full-chat-wrapper .text-chat-wrapper .send-message-wrapper .message-input button span.text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
}
#video1 {
  position: absolute;
  width: 320px;
  height: 240px;
  border: 1px solid #ddd;
  top: 700px;
  left: 50px;
}
#full-wrapper .modal-dialog {
  max-width: 1056px;
}
#full-wrapper .tip {
  cursor: pointer;
}
#full-wrapper video {
  width: 1024px;
  height: 768px;
}