#video {
    position: absolute;
    width: 230px;
    height: 180px;
    border: 1px solid #ddd;
    top: 400px;
    left: 50px;
}

.auditory-header {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #565C72;
    text-align: center;
    margin-top: 40px;
}

.auditory {
    display: flex;
    flex-wrap: initial;
    margin-bottom: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .btn-gray {
        width: 135px;
        height: 44px;
        color: #fff;
        background: #565c72;
        border: none;
    }


    .computer-list {
        border: 1px solid #ddd;
        margin-top: 40px;
        padding: 40px;
        overflow-y: auto;
        border-top: none;
        height: 600px;
        box-shadow: #a2a2a2 0px 3px 4px;
        background: #eceef1;
        max-height: 650px;
        max-width: 1024px;


        .place-table {
            text-align: center;

            .place-row {

                .place-item {
                    width: 180px;
                    height: 240px;
                    margin-bottom: 40px;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                    .video-wrapper {
                        width: 180px;
                        height: 130px;
                        border-bottom: 1px solid #ddd;

                        video {
                            width: 180px;
                            height: 130px;
                        }
                    }

                    .info-wrapper {
                        width: 180px;
                        height: 110px;

                        .place-info {
                            font-family: Montserrat;
                            font-style: normal;
                            color: #565C72;
                            text-align: center;
                            height: 55px;

                            .place-name {
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 16px;
                            }

                            .user-name {
                                line-height: 10px;
                                font-weight: 600;
                                font-size: 8px;
                            }
                        }

                        .control-place {
                            height: 55px;
                            display: flex;
                            justify-content: space-between;

                            button {
                                background: #565C72;
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                                width: 55px;
                                height: 33px;
                                margin-left: auto;
                                margin-right: auto;
                                border: none;
                                color: #fff;

                                .fa {
                                    font-weight: 400 !important;
                                }
                            }

                            .chat-open {
                            }
                        }
                    }
                    /*background-color: #ddd;*/
                }
            }
        }
    }

    .control {
        margin-top: 40px;
        width: 225px;
        height: max-content;
        background: #565c72;
        padding: 0;
        margin-left: 15px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                border-bottom: 1px solid #A6ACBC;
                min-height: 44px;
                max-height: 88px;
                color: #fff;
                margin: 0;
                padding-left: 20px;
                font-size: 16px;
                line-height: 33px;
                cursor: pointer;
                width: 225px;

                &:hover {
                    color: #ddd;
                }
            }
        }

        .btn {
            margin-bottom: 10px;
            width: 160px;
        }
    }
}

#full-chat-wrapper {
    display: none;
    width: 300px;
    height: 500px;
    position: fixed;
    left: 45px;
    bottom: 90px;
    border: 1px solid #c4c4c4;
    /*display: none;
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 300px;
    height: 600px;
    border: 1px solid #ddd;
    background-color: #fff;*/
    &.opened {
        display: block;
    }

    .chat-panel {
        position: relative;
        width: 100%;
        height: 40px;
        background: #565C72;
        padding: 3px 10px;
        justify-content: space-between;
        display: flex;

        .user-info {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 21px;
            color: #fff;
        }

        .btn-list {
            display: flex;
            font-size: 20px;
            color: #fff;
        }

        .toggler-type {
            margin-right: 5px;
            cursor: pointer;
        }

        .close-btn {
            cursor: pointer;
            color: #fff;
        }
    }


    .text-chat-wrapper {
        border-bottom: 1px solid #ddd;
        height: 460px;
        background: #fff;

        .chat-wrapper {
            height: 390px;
            padding-left: 0;
            overflow-x: hidden;
            overflow-y: auto;

            .chat-message-wrapper {
                border: 1px solid #ddd;
                margin: 5px;
                padding: 7px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 10px;
                max-width: 230px;
                word-break: break-word;
                float: left;
                display: flex;
                clear: both;

                &.sender {
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 10px;
                    float: right;

                    .chat-message {
                        text-align: end;
                    }
                }

                .chat-message {
                    font-family: Montserrat;
                    font-style: normal;

                    .message-text {
                        font-size: 16px;
                        line-height: 20px;
                    }

                    .message-date {
                        font-size: 10px;
                        float: right;
                    }
                }
            }
        }

        .send-message-wrapper {
            background: #565c72;
            padding: 3px;

            .message-input {
                width: 299px;
                padding: 5px;
                display: flex;

                textarea {
                    width: 242px;
                    height: 40px;
                    resize: none;
                }


                button {
                    width: 40px;
                    height: 40px;
                    border: none;
                    background: #A6ACBC;

                    span {
                        color: #fff;
                    }
                }
            }
        }
    }
}


button {
    &:focus {
        outline: none;
    }
}

#video1 {
    position: absolute;
    width: 320px;
    height: 240px;
    border: 1px solid #ddd;
    top: 700px;
    left: 50px;
}

#full-wrapper {
    .modal-dialog {
        max-width: 1056px;

        .tip {
            cursor: pointer;
        }

        .modal-body {
            .select-error {
                display: flex;
                margin-bottom: 20px;

                select {
                    margin-right: 30px;
                }
            }

            button {
                height: 44px;
                color: #fff;
                background: #565c72;
                border: none;
            }
        }
    }

    .video-list-wrapper {
        display: flex;

        .videos-wrapper {
            display: flex;
            flex-flow: column;
            height: 100%;

            #full-video-camera {
                width: 576px;
                height: 384px;
            }

            #full-video-screen {
                width: 576px;
                height: 384px;
            }
        }

        .photo-wrapper {
            margin-left: 30px;
            height: 768px;

            #full-video-photo {
            }
        }
    }
    /*video {
        width: 1024px;
        height: 768px;
    }*/
}
