
@{
    ViewBag.Title = "User";
}


<h1>Режим ожидания пользователя</h1>
<div id="for-result"></div>
<img id="for-qwestion" height="55" />
<img id="for-answer1" height="55"  />
<img id="for-answer2" height="55"  />
<img id="for-answer3" height="55"  />
<img id="for-answer4" height="55"  />
<script src="~/Scripts/script.js"></script>