<link href="~/Content/Proctoring/index.css?1" rel="stylesheet" />
@{
    ViewBag.Title = "Список абитуриентов";
}

<div id="main-window" class="proctoring-window">
    <div v-if="profiles.length > 1">
        <div v-if="currentProfile < 0">
            <span class="context-info"> {{switchLocal(1)}}</span>
            <select v-model="profileForSelect" class="form-control">
                <option v-for="profile in profiles" v:bind:value="profile.Id">{{profile.Name}}</option>
            </select>
            <button v-on:click="SaveProfile()">{{switchLocal(2)}}</button>
        </div>
    </div>
    <div v-if="currentProfile > 0" class="container">
        <div class="context-info">{{switchLocal(3)}}</div>

        <div class="student-list-wrapper">
            <div class="student-list">
                <div v-for="student in students" class="student-wrapper">
                    <div v-on:click="selectStudent(student.TestingProfileId)">{{switchLocal(4)}}-{{student.UserId}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/Proctoring/list.js?1"></script>