<link href="~/Content/Statistic/savescore.css" rel="stylesheet" />
<div id="main-window">
    <div v-if="!listOpened">
        <table class="table table-bordered table-striped table-hover">
            <tr v-for="discipline in disciplines" v-on:click="selectDiscipline(discipline.Id)">
                <td>{{discipline.Name}}</td>
            </tr>
        </table>
    </div>
    <div v-if="listOpened" class="container mt-4">
        <button class="btn btn-outline-secondary mb-3" v-on:click="backToList()">Назад к списку</button>
        <h1>
            {{currentDiscipline}}
        </h1>
        <br />
        {{items.length}} работ, из них {{getZeroInfo()}} пустых
        <br />
        <table class="table table-bordered table-striped">
            <tr v-for="item in items">
                @*<td><input type="checkbox" v-model="item.checked" class="form-control" /></td>*@
                <td>{{item.Name}}</td>
                <td><input type="number" max="100" min="0" v-model="item.Score" class="form-control" /></td>
                <td><button v-on:click="saveMark(item)">Сохранить</button></td>
            </tr>
        </table>
    </div>
</div>
<script src="~/Content/Statistic/JavaScript.js?1"></script>