@{ 
    ViewBag.Title = "Сохранение результатов";
}
<link href="~/Content/Statistic/savescore.css" rel="stylesheet" />
<div id="main-window" class="mb-5">
    <div v-if="!listOpened">
        <table class="table table-bordered table-striped table-hover">
            <tr v-for="discipline in disciplines" v-on:click="selectDiscipline(discipline.Id)">
                <td>{{discipline.Name}}</td>
            </tr>
        </table>
    </div>
    <div v-if="listOpened" class="container mt-4">
        <button class="btn btn-outline-secondary mb-3" v-on:click="backToList()">Назад к списку</button>
        <h1>
            {{currentDiscipline}}
        </h1>
        <br />
        <div>{{items.length}} {{getNormalJobName(items.length)}},  {{getZeroInfo()}} {{getNormalEmptyName(getZeroInfo())}}</div>
        <label><input type="checkbox" v-on:change="toggleFilter()" />Фильтр нулевых работ</label>
        <br />
        <table class="table table-bordered table-striped">
            <tr v-for="item in filteredItems">
                @*<td><input type="checkbox" v-model="item.checked" class="form-control" /></td>*@
                <td>{{item.Name}}</td>
                @*<td>{{item.Score}}</td>*@
                <td><input type="number" max="100" min="0" v-model="item.Score" class="form-control" /></td>
                <td><button v-on:click="saveMark(item)">Сохранить</button></td>
            </tr>
        </table>
    </div>
</div>
<script src="~/Content/Statistic/JavaScript.js?3"></script>