
@{
    ViewBag.Title = "Личный кабинет абитуриента";
}

<link href="~/Content/Testing/profile.css?4" rel="stylesheet" />

<div id="main-window">
    <div v-if="tests.length == 0">
        {{switchLocal(1)}}
    </div>
    <div v-if="tests.length > 0">
        <div class="mt-5 info-panel">
            <h3 class="mb-3 mt-2">{{switchLocal(6)}}</h3>
            <ul>
                <li class="secondary"><span>{{switchLocal(7)}}</span></li>
                <li class="danger"><span>{{switchLocal(8)}}</span></li>
                <li>{{switchLocal(9)}}</li>
                <li>{{switchLocal(10)}}</li>
            </ul>
        </div>
        <table class="table table-bordered table-striped mt-5 table-hover">
            <thead>
                <tr>
                    <th class="col-4">{{switchLocal(2)}}</th>
                    <th class="col-2">{{switchLocal(3)}}</th>
                    <th class="col-2">{{switchLocal(4)}}</th>
                    <th class="col-2">{{switchLocal(5)}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="test in tests" :class="{'table-secondary': isToday(test), 'table-danger': test.Passed == false}">
                    <td class="col-4">{{test.Discipline}}</td>
                    <td class="col-2">{{getDateFormat(test.TestingDate)}}</td>
                    <td class="col-2">{{test.Score}}</td>
                    <td class="col-2">{{test.Status}}</td>
                    <td><a href="/user/waiting" class="btn btn-secondary text-center" v-if="isPossible(test)">{{switchLocal(11)}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="~/Content/Testing/profile.js?3"></script>