<link href="~/Content/Testing/Index.css?8" rel="stylesheet" />


<div id="main-window">
    <div class="test-process" v-if="!finishScreen && !(lostConnection || adminPaused)">
        <div class="main-wrapper" v-if="hasCameraConnection">
            <div class="panel-top"><span class="discipline-title">{{NameDiscipline}}</span><span v-if="pause" class="paused">{{switchLocal(16)}}</span><div class="right-panel"><span class="timer" v-bind:class="{'finishing': needAlarm}">{{switchLocal(1)}}: {{showTimeLeft()}}</span><span class="ref" v-on:click="openTip()" v-if="sourceMaterials.length > 0"><i class="fa fa-question"></i></span></div></div>
            <div class="panel-center">
                <div v-loader="loadObject">
                    <div class="question-wrapper" v-if="selectedQuestion.QuestionImage">
                        <img v-bind:src="'data:image/png;base64, ' + selectedQuestion.QuestionImage" />
                    </div>
                    <div class="answer-list">
                        <div class="answer-wrapper" v-for="answer in selectedQuestion.Answers">
                            <label v-if="selectedQuestion.TypeAnswerId == 2" class="option-container" v-bind:class="getHeight(answer.Id)">
                                <input type="checkbox" class="checkbox" value="true" v-model="answer.IsAnswered" v-on:change="changeCheck()" />
                                <span class="checkmark"></span>
                                <img v-bind:src="'data:image/png;base64, ' + answer.AnswerImage" v-bind:id="'answer-' + answer.Id" />
                            </label>
                            <label v-if="selectedQuestion.TypeAnswerId == 1" class="option-rb-container" v-bind:class="getHeight(answer.Id)">
                                <input type="radio" class=" checkbox" v-bind:value="answer.Id" name="answer" v-model="selectedQuestion.answer" v-on:change="changeRadio(answer.Id)" />
                                <span class="checkmark"></span>
                                <img v-bind:src="'data:image/png;base64, ' + answer.AnswerImage" v-bind:id="'answer-' + answer.Id" />
                            </label>
                            <div v-if="selectedQuestion.TypeAnswerId == 5" class="textarea-wrapper">
                                <textarea v-on:change="changeText" v-model="selectedQuestion.answer" class="form-control" spellcheck="false"> </textarea>
                                <br />
                                <div v-if="!selectedQuestion.fileId">
                                    <input v-on:change="changeFile" type="file" accept="image/*" />
                                </div>
                                <div v-if="selectedQuestion.fileId">
                                    <div class="image-preview-wrapper">
                                        <img v-bind:src="'data:image/jpg;base64, ' + selectedQuestion.answerImage" width="400" />
                                    </div>
                                    <button v-on:click="removeFile()">
                                        {{switchLocal(10)}}
                                    </button>
                                </div>
                            </div>
                            <div v-if="selectedQuestion.TypeAnswerId == 3" class="textarea-wrapper">
                                <textarea v-on:focus="changeText" v-model="selectedQuestion.answer" class="form-control" spellcheck="false" rows="15" id="noCopyPaste" oncontextmenu='return false;'> </textarea>
                                <br />
                            </div>
                            <div v-if="selectedQuestion.TypeAnswerId == 4" class="textarea-wrapper">

                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="input-file">
                                        <label class="custom-file-label" for="input-file">{{switchLocal(8)}}</label>
                                    </div>
                                </div>
                                @*<div v-if="!selectedQuestion.fileId">
                                        <input v-on:change="changeFile" type="file" accept="image/*" />
                                    </div>*@
                                <div class="request-qr-wrapper">
                                    <div class="qr-info-wrapper">
                                        {{switchLocal(30)}}
                                        <p>{{switchLocal(32)}}</p>
                                        <p>{{switchLocal(33)}}</p>
                                        <img width="300" height="300" v-bind:src="'data:image/jpg;base64, ' + QRCodeHref" v-if="!openedQRPage" />
                                        <p>{{switchLocal(38)}}</p>
                                        <p>{{switchLocal(34)}}</p>
                                        <p>{{switchLocal(35)}}</p>
                                        <img width="300" height="300" v-bind:src="'data:image/jpg;base64, ' + QRCodeImage" v-if="openedQRPage" />
                                        <p>{{switchLocal(36)}}</p>
                                        <p>{{switchLocal(37)}}</p>
                                    </div>
                                </div>
                                <div v-if="selectedQuestion.fileId">
                                    <div class="image-preview-wrapper">
                                        <img v-bind:src="'data:image/jpg;base64, ' + selectedQuestion.answerImage" width="400" />
                                    </div>
                                    <button v-on:click="removeFile()">
                                        {{switchLocal(10)}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tip">
                    <span v-if="selectedQuestion.TypeAnswerId == 2">
                        * {{switchLocal(2)}}
                    </span>
                    <span v-if="selectedQuestion.TypeAnswerId == 1">* {{switchLocal(3)}}</span>
                    <span v-if="selectedQuestion.TypeAnswerId == 3">* {{switchLocal(4)}}</span>
                    <span v-if="selectedQuestion.TypeAnswerId == 4">* {{switchLocal(8)}}</span>
                </div>
                <div class="question-pagination" v-if="questions.length > 1">
                    <div class="page" v-on:click="selectQuestion(page-1)" v-bind:class="{'disabled': page == 1}">
                        <img src="~/Files/svg/process-angle-left.svg" />
                    </div>
                    <template v-for="i in questions.length">
                        <div class="page" v-bind:class="{'active': page == i, 'answered': IsQuestionAnswered(i)}" v-on:click="selectQuestion(i)">
                            {{i}}
                        </div>
                    </template>
                    <div class="page" v-on:click="selectQuestion(page+1)" v-bind:class="{'disabled': page == questions.length}">
                        <img src="~/Files/svg/process-angle-right.svg" />
                    </div>
                </div>
            </div>
            <div class="finish-game"><button class="btn-gray" data-toggle="modal" data-target="#finish-game">{{switchLocal(5)}}</button></div>
        </div>
        <div class="main-wrapper" v-if="!hasCameraConnection" v-loader="loadObject">
            <div class="panel-top"></div>
            <div class="panel-center camera-missing">
                {{switchLocal(46)}}
            </div>
        </div>
        <div class="panel-right" v-bind:class="{'opened': IsTipOpened}" id="panel-right">
            <div class="control-btn" v-on:mousedown="startResize" v-on:touchstart="startResizeTouch">
                @*<button><i class="fa fa-arrows-alt-h" /></button>*@
                <img src="~/Files/svg/process-arrow-resize.svg" />
            </div>
            <div class="tip-wrapper">
                <div class="top-panel mt-3">
                    <span class="close-btn" v-on:click="openTip()">
                        <img src="~/Files/svg/process-question-mark.svg" />
                    </span>
                </div>
                <div v-for="tip in sourceMaterials" class="material-wrapper" v-if="!tip.IsCalc">
                    <img v-bind:style="{'width': maxTipWidth + 'px'}" v-bind:src="'data:image/png;base64, ' + tip.Image" width="200" />
                    <br />
                </div>
                <div class="calc-wrapper material-wrapper" v-if="needCalc">
                    <div class="calculator">
                        <div class="result-wrapper"><div id="text-area">0</div></div>
                        <div class="button-wrapper">
                            <div v-for="row in calculator.rows" class="calc-row">
                                <div v-for="col in row.columns" class="calc-col">
                                    <div class="key" v-bind:class="'s-' + col.size" v-on:click="pushBtn(col.k)"><span>{{col.k}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="open-chat-wrapper" v-if="!testing">
            <div v-on:click="toggleChat()">
                <img src="~/Files/svg/process-toggle-chat.svg" />
            </div>
            <div class="chat-unread-wrapper" v-if="unreadCount > 0">
                <span>
                    {{unreadCount}}
                </span>
            </div>
        </div>
        <div class="videos-wrapper" v-bind:class="{'collapsed' : !shownVideos}" v-if="!testing">
            <div :class="{'text-center': !shownVideos, 'text-right': shownVideos}" class="control" v-on:click="shownVideos = !shownVideos"><span v-if="!shownVideos"></span><span><span v-if="shownVideos">{{switchLocal(14)}}</span><span v-if="!shownVideos">@*{{switchLocal(15)}}*@</span><i class="fa" v-bind:class="{'fa-minus' : shownVideos, 'fa-angle-up' : !shownVideos }"></i></span></div>
            <div class="video">
                <div class="camera-wrapper">
                    <video id="video1" autoplay="autoplay" muted></video>
                </div>
                <div class="screen-wrapper">
                    <video id="video2" autoplay="autoplay" muted></video>
                </div>
            </div>
        </div>
        <div id="full-chat-wrapper" v-bind:class="{'opened': chat.IsOpened}">
            <div class="chat-panel">
                <span class="user-info">
                    {{switchLocal(9)}}
                </span>
                <div class="btn-list">
                    <div v-on:click="toggleTypeChat()" class="toggler-type">
                    </div>
                    <span v-on:click="toggleChat()" class="close-btn"><i class="fa fa-times"></i></span>
                </div>
            </div>
            @*<div class="video-chat-wrapper" v-if="chat.IsChatVOpened">
                <div v-for="participant in chat.participants">
                    <div id="video-wrapper">
                        <video v-bind:id="'video-' + participant.Id" autoplay="autoplay" muted></video>
                </div>
                        </div>
                        <div class="participant-list-wrapper" v-if="chat.isChatVOpened">
                            <div class="participant-wrapper" v-for="participant in chat.participants">
                                <span class="avatar"></span><span class="participant-name">{{participant.Name}}</span><span class="micro-toggle"></span><span class="video-toggle"></span>
                            </div>
                        </div>
                    </div>*@
            <div class="text-chat-wrapper">
                <ul class="chat-wrapper">
                    <li v-for="message in chat.messages" class="chat-message-wrapper" v-bind:class="{'sender': isMe(message)}" v-bind:id="'message-' + message.Id">
                        <div class="chat-message"><div class="message-text">{{message.Message}}</div><div class="message-date">{{getDateFormat(message.Date)}}</div></div>
                        <br />
                    </li>
                </ul>
                <div class="send-message-wrapper">
                    <div class="message-input">
                        <textarea v-model="chat.Message" v-on:focus="subscribeEnter"></textarea>
                        <button v-on:click="sendMessage()">
                            <span class="fa fa-send"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="finish-game" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="title"> {{switchLocal(12)}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{switchLocal(11)}}?
                        <div v-if="showCountLeft()">
                            <br />
                            {{switchLocal(13)}} {{showCountLeft()}}.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{switchLocal(23)}}</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="finishTest()">{{switchLocal(24)}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="lostConnection" class="test-process">
        <div class="main-wrapper">
            <div class="panel-top"></div>
            <div class="panel-center">
                <div class="base-info">
                    {{switchLocal(17)}}
                </div>
            </div>
        </div>
    </div>
    <div v-if="adminPaused" class="test-process">
        <div class="main-wrapper">
            <div class="panel-top"></div>
            <div class="panel-center">
                <div class="base-info">
                    {{switchLocal(25)}}
                </div>
            </div>
        </div>
    </div>
    <div v-if="finishScreen && !lostConnection" class="test-finish-process">
        <div class="main-wrapper" v-loader="loadObject">

            <div class="panel-center">
                <div class="base-info">
                    {{switchLocal(18)}}
                </div>
                <div class="score-info">
                    {{switchLocal(19)}}
                    <br />
                    <br />
                    <div class="control">
                        <button v-on:click="confirm()">{{switchLocal(21)}}</button>
                    </div>
                </div>
                @*<div class="score-info" v-if="needShowScore">
                        {{switchLocal(19)}}: <span>{{score}}</span>
                        <br />
                        <label>
                            <input type="checkbox" v-model="confirmed" />
                            {{switchLocal(20)}}
                        </label>
                        <br />
                        <div class="control">
                            <button v-bind:disabled="!confirmed" v-on:click="confirm">{{switchLocal(21)}}</button>
                        </div>
                    </div>*@
            </div>
            <div class="return-wrapper" v-if="testing">
                <buton class="back-list" v-on:click="returnToList()">{{switchLocal(22)}}</buton>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/Testing/test.js?12"></script>
