
@{
    ViewBag.Title = "Waiting";
}


<link href="~/Content/Testing/Index.css" rel="stylesheet" />
<script src="~/Content/f-awesome.js"></script>
<div id="main-window">
    <div v-if="!hasPlaceConfig">
        <div class="input-pin">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                </div>
                <input type="number" class="form-control" maxlength="4" v-model="PIN" placeholder="PIN" aria-describedby="basic-addon1">
            </div>
            @*<div class="center"><i class="fa fa-key"></i><input type="number" maxlength="4" v-model="PIN" /></div>*@
        </div>
    </div>
    <div v-if="hasPlaceConfig" class="test-info" v-loader="loadTestObject">
        <div class="not-test">
            <div v-if="tests && tests.length == 0" class="waiting">Режим ожидания</div>
            <template v-if="!hasActiveTest()">
                <div v-if="tests && tests.length != 0" class="user-info">
                    {{user}},
                    <br />
                    <br />
                    Вам доступны следующие тесты для прохождения:
                </div>
                <div class="test-list">
                    <div v-for="test in tests" class="test-wrapper">
                        @*- {{test.TestingDate}}*@
                        <div class="test-item" v-on:click="startTest(test.Id)">
                            <span class="test-name">{{test.DisciplineName}}</span>
                            <span class="test-icon">
                                <i class="far fa-play-circle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </template>
            <template v-if="hasActiveTest()">
                <div v-if="tests && tests.length != 0" class="user-info">
                    {{user}},
                    <br />
                    <br />
                    Вы не завершили следующие тесты:
                </div>
                <div class="test-list">
                    <div v-for="test in activeTests" class="test-wrapper">
                        @*- {{test.TestingDate}}*@
                        <div class="test-item" v-on:click="startTest(test.Id)">
                            <span class="test-name">{{test.DisciplineName}}</span>
                            <span class="test-icon">
                                <i class="far fa-play-circle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </template>
            <div class="finish-game"><a class="btn-gray" href="DownloadVideoFile?Id=67">Скачать</a></div>
            <div class="finish-game"><button class="btn-gray" v-on:click="download()">download</button></div>
        </div>
    </div>
   
</div>
<script src="~/Content/aes.js"></script>
<script src="~/Content/Testing/pretest.js"></script>