
<link href="~/Content/Testing/Index.css?3" rel="stylesheet" />
<div id="main-window">
    @if (ViewBag.PlaceInfo != null)
    {
        <span>{{checkAuth(@ViewBag.PlaceInfo.PlaceId, @ViewBag.PlaceInfo.Id)}}</span>
    }
    else
    {
        <span>{{checkAuth(0,0)}}</span>
    }
<div>
    @if (Request.IsAuthenticated)
    {

        <div v-if="!hasPlaceConfig && hasTestsToday" class="container" v-loader="loadObject">

            <div class="empty-list">
                {{switchLocal(4)}}
            </div>
            <div class="empty-list">
                {{switchLocal(12)}}
                @*<button v-on:click="askReset()" class="btn-reset">{{switchLocal(13)}}</button>*@
                <div class="finish-game"><button class="btn-gray" data-toggle="modal" data-target="#confirm-reset">{{switchLocal(13)}}</button></div>
            </div>
        </div>
        <div v-if="!hasPlaceConfig && !hasTestsToday" class="container">
            <div class="empty-list">
                {{switchLocal(23)}}
            </div>
        </div>
    }
    else
    {

        <div v-if="!hasPlaceConfig" class="container">
            <div class="main-window">
                <div class="input-pin">
                    <input type="number" class="form-control" maxlength="4" v-model="PIN" placeholder="PIN">
                </div>
            </div>
        </div>
    }
    <div v-if="hasPlaceConfig" class="test-info" v-loader="loadTestObject">
        <div class="not-test" v-if="verified">
            <div v-if="tests && tests.length == 0" class="waiting">
                <div class="empty-list">
                    {{switchLocal(11)}}
                </div>
            </div>
            <template v-if="activeTests.length == 0">
                <div v-if="tests && tests.length != 0" class="user-info">
                    <div class="user-name">{{user}},</div>
                    <div class="user-either">{{switchLocal(1)}}:</div>
                </div>
                <div class="test-list">
                    <div v-for="test in tests" class="test-wrapper">
                        @*- {{test.TestingDate}}*@
                        <div class="test-item" v-on:click="startTest(test.Id)">
                            <span class="test-name">{{test.DisciplineName}}</span>
                            <span class="test-icon">
                                <i class="far fa-play-circle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </template>
            <template v-if="activeTests.length > 0">
                <div v-if="tests && tests.length != 0" class="user-info">
                    <span class="user-name">{{user}}</span>,
                    <br />
                    <br />
                    {{switchLocal(2)}}:
                </div>
                <div class="test-list">
                    <div v-for="test in activeTests" class="test-wrapper">
                        @*- {{test.TestingDate}}*@
                        <div class="test-item" v-on:click="startTest(test.Id)">
                            <span class="test-name">{{test.DisciplineName}}</span>
                            <span class="test-icon">
                                <i class="far fa-play-circle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </template>
            <div class="not-test" v-loader="loadObject">
                <div class="user-info">
                    <div class="user-either">{{switchLocal(9)}}:</div>
                </div>
                <div class="test-list" v-if="activeTests.length == 0">
                    <div v-for="test in testingTests" class="test-wrapper">
                        @*- {{test.TestingDate}}*@
                        <div class="test-item" v-on:click="startTest(test.Id)">
                            <span class="test-name">{{test.DisciplineName}}</span>
                            <span class="test-icon">
                                <i class="far fa-play-circle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="finish-game"><a class="btn-gray" href="DownloadVideoFile?Id=67">Скачать</a></div>*@
            @*<div class="finish-game"><button class="btn-gray" v-on:click="download()">download</button></div>*@
        </div>

        <div class="disabled-info" v-if="!verified" v-loader="loadTestObject">
            <div v-if="tests && tests.length == 0" class="waiting">
                <div class="empty-list">
                    {{switchLocal(11)}}
                </div>
            </div>
            <div v-if="tests && tests.length > 0">
                {{switchLocal(6)}}
                <br />


                <div class="pre-video-wrapper">
                    <div class="video">
                        <div class="camera-wrapper">
                            <video id="video1" autoplay muted playsinline poster="~/Content/novideo.png" v-bind:class="{'error': tryRec, 'no-face':noFace}">
                            </video>
                        </div>
                    </div>
                    <div class="info-wrapper" v-if="identificationTimeLeft != 45">
                        <span>{{switchLocal(19)}} </span>
                        <span>{{identificationTimeLeft}} </span>
                        <span>{{switchLocal(20)}} </span>
                    </div>
                </div>
                <button v-on:click="tryVerify" class="btn-verify" v-bind:disabled="!enabled" v-bind:class="{'disabled': !enabled}">{{switchLocal(7)}}</button>
            </div>
            <!--<div class="not-test" v-loader="loadObject" v-if="testingTests.length > 0">
                <div class="user-info">
                    <div class="user-either">{{switchLocal(9)}}:</div>
                </div>
                <div class="test-list" v-if="activeTests.length == 0">
                    <div v-for="test in testingTests" class="test-wrapper">-->
                        @*- {{test.TestingDate}}*@
                        <!--<div class="test-item" v-on:click="startTest(test.Id)">
                            <span class="test-name">{{test.DisciplineName}}</span>
                            <span class="test-icon">
                                <i class="far fa-play-circle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>


        <div class="open-chat-wrapper" v-if="tests && tests.length > 0 && chat.testingProfileId != 0">
            <div v-on:click="toggleChat()">
                <img src="~/Files/svg/process-toggle-chat.svg" />
            </div>
            <div class="chat-unread-wrapper" v-if="unreadCount > 0">
                <span>
                    {{unreadCount}}
                </span>
            </div>
        </div>
        <div id="full-chat-wrapper" v-bind:class="{'opened': chat.IsOpened}">
            <div class="chat-panel">
                <span class="user-info">
                    {{switchLocal(5)}}
                </span>
                <div class="btn-list">
                    <span v-on:click="toggleChat()" class="close-btn">
                        <span>
                            <img src="~/Files/Svg/mini-times-auditory.svg" />
                        </span>
                    </span>
                </div>
            </div>
            <div class="text-chat-wrapper">
                <ul class="chat-wrapper">
                    <li v-for="message in chat.messages" class="chat-message-wrapper" v-bind:class="{'sender': isMe(message) || !message.IsAdmin}" v-bind:id="'message-' + message.Id">
                        <div class="chat-message"><div class="message-text">{{message.Message}}</div><div class="message-date">{{getDateFormat(message.Date)}}</div></div>
                        <br />
                    </li>
                </ul>
                <div class="send-message-wrapper">
                    <div class="message-input">
                        <textarea v-model="chat.Message" v-on:focus="subscribeEnter"></textarea>
                        <button v-on:click="sendMessage(undefined)">
                            @*<span class="text">Отправить </span>*@
                            <span>
                                <img width="25" height="25" src="~/Content/send-chat.png" />
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="instruction-wrapper">
        Инструкция и правила проведения ВИ доступны по <a href="/files/Instruction.pdf" target="_blank">ссылке</a>
        <br />
        <br />
        Видеоинструкция прохождения творческого испытания доступна по <a href="/Files/Instruction.mp4" target="_blank">ссылке</a>
    </div>
    <br />
    <br />
    <div class="justify-content-around">
        @*<video controls src="~/Files/Instruction.mp4" type="video/mp4" />*@
    </div>

    <div class="modal fade" id="confirm-reset" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title"> {{switchLocal(12)}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{switchLocal(22)}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" v-on:click="askReset()">{{switchLocal(13)}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="~/Content/aes.js"></script>
<script src="~/Content/Testing/pretest.js?2"></script>
